<div *ngIf="(getTurSNSite() | async) as snSite; else loading">
  <div class="Subhead mt-4">
    <div class="Subhead-heading Subhead-heading--large">
      <div *ngIf="!isNewObject()" class="d-flex">
        <div style="height: 32px; border-radius: 50%;">
          <svg width="35" height="35" style="border-radius: 50%;" [identiconHash]="snSite.name | lowercase">
          </svg>
        </div>
        <div class="ml-2">
          <span>{{snSite.name}}</span>
        </div>
      </div>
      <div *ngIf="isNewObject()" class="d-flex">
        <div style="height: 32px; border-radius: 50%;">
          <svg width="35" height="35" style="border-radius: 50%;" [identiconHash]="'new'">
          </svg>
        </div>
        <div class="ml-2">
          <span>New Site</span>
        </div>
      </div>
    </div>
    <div *ngIf="!isNewObject()" class="Subhead-actions" style="display: inherit;">
      <details #modalDelete id="modalDelete" class="details-reset details-overlay details-overlay-dark mr-2"
        style="display: unset;">
        <summary class="btn btn-sm btn-danger mr-1" aria-haspopup="dialog"><span octicon="trash" [size]=16
            class="mr-1"></span>Delete site</summary>
        <details-dialog class="Box Box--overlay d-flex flex-column anim-fade-in fast" style="overflow: hidden;">
          <div class="Box-header">
            <button onclick='document.getElementById("modalDelete").removeAttribute("open");'
              class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
              <svg class="octicon octicon-x" viewBox="0 0 12 16" version="1.1" width="12" height="16"
                aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z">
                </path>
              </svg>
            </button>
            <h3 class="Box-title">Are you absolutely sure?</h3>

          </div>
          <div class="flash flash-warn flash-full">
            Unexpected bad things will happen if you don’t read this!
          </div>

          <div class="Box-body overflow-auto">
            <p>
              This action <strong>cannot</strong> be undone. This will permanently delete the
              <strong>{{snSite.name}}</strong> semantic navigation site.
            </p>
            <button (click)="delete(snSite)" class="btn-danger btn btn-block">
              <span class="d-md-inline-block d-none">I understand the consequences, delete this site</span>
            </button>
          </div>
        </details-dialog>
      </details>
      <div *ngIf="(getStatus() | async) as snStatus" style="display: inherit;">
        <div *ngIf="!isNewObject()" class="mr-2">
          <a class="btn btn-sm btn-with-count" href="#url" role="button">
            <span octicon="milestone" [size]=16 class="mr-1"> </span> <span> Queue</span>
          </a>
          <a class="social-count" href="#url">{{snStatus.queue}}</a>
        </div>
        <div *ngIf="!isNewObject()" class="mr-2">
          <a class="btn btn-sm btn-with-count" href="#url" role="button">
            <span octicon="file-binary" [size]=16 class="mr-1"> </span> <span> Indexed</span>
          </a>
          <a class="social-count" href="#url">{{snStatus.documents}}</a>
        </div>
      </div>
    </div>
    <div *ngIf="!isNewObject()" class="Subhead-description">{{snSite.description}}</div>
  </div>

  <div id="col-left" class="float-left" style="width: 280px;padding-right: 15px;">
    <nav class="menu" aria-label="Site settings">
      <a class="menu-item" [routerLink]="['/sn/site',getId() , 'detail']" [routerLinkActive]="['selected']"><span
          octicon="gear" [size]=16 class="mr-1"></span> Settings</a>
      <a *ngIf="!isNewObject()" class="menu-item" [routerLink]="['/sn/site',getId() , 'locale']"
        [routerLinkActive]="['selected']"><span octicon="typography" [size]=16 class="mr-1"></span>
        Multi Languages</a>
      <a *ngIf="!isNewObject()" class="menu-item" [routerLink]="['/sn/site',getId() , 'ui']"
        [routerLinkActive]="['selected']">
        <span octicon="law" [size]=16 class="mr-1"></span>
        Behavior</a>
      <a *ngIf="!isNewObject()" class="menu-item" [routerLink]="['/sn/site',getId() , 'ranking-expression']"
         [routerLinkActive]="['selected']">
        <span octicon="number" [size]=16 class="mr-1"></span>
       Result Ranking</a>
      <a *ngIf="!isNewObject()" class="menu-item" [routerLink]="['/sn/site',getId() , 'merge']"
        [routerLinkActive]="['selected']">
        <span octicon="git-merge" [size]=16 class="mr-1"></span>
        Merge Providers</a>
      <a *ngIf="!isNewObject()" class="menu-item" [routerLink]="['/sn/site',getId() , 'field']"
        [routerLinkActive]="['selected']">
        <span octicon="rows" [size]=16 class="mr-1"></span>
        Fields</a>
      <a *ngIf="!isNewObject()" class="menu-item" [routerLink]="['/sn/site',getId() , 'facet-ordering']"
         [routerLinkActive]="['selected']">
        <span octicon="filter" [size]=16 class="mr-1"></span>
        Facet Ordering</a>
      <a *ngIf="!isNewObject()" class="menu-item" [routerLink]="['/sn/site',getId() , 'spotlight']"
        [routerLinkActive]="['selected']"><span octicon="megaphone" [size]=16 class="mr-1"></span> Spotlight</a>
    </nav>
    <nav class="menu" aria-label="Metrics">
      <a *ngIf="!isNewObject()" class="menu-item" [routerLink]="['/sn/site',getId() , 'metrics', 'top-terms']"
      [routerLinkActive]="['selected']"><span octicon="graph" [size]=16 class="mr-1"></span> Top Search Terms</a>
    </nav>
  </div>
  <div id="col-right" class="float-right" style="width: calc(100% - 300px);">
    <router-outlet>
    </router-outlet>
  </div>
</div>
<ng-template #loading>
  <span>Loading</span><span class="AnimatedEllipsis"></span>
</ng-template>
