<div *ngIf="(getTurIntegrationInstance() | async) as integrationInstance; else loading">

  <div class="Subhead mt-4">
    <div class="Subhead-heading Subhead-heading--large">
      <div *ngIf="!isNewObject()" class="d-flex">
        <div style="height: 32px; border-radius: 50%;">
          <svg width="35" height="35" style="border-radius: 50%;"
               [identiconHash]="integrationInstance.title | lowercase">
          </svg>
        </div>
        <div class="ml-2">
          <span>{{ integrationInstance.title }}</span>
        </div>
      </div>
      <div *ngIf="isNewObject()" class="d-flex">
        <div style="height: 32px; border-radius: 50%;">
          <svg width="35" height="35" style="border-radius: 50%;" [identiconHash]="'new'">
          </svg>
        </div>
        <div class="ml-2">
          <span>New Instance</span>
        </div>
      </div>
    </div>
    <!--
    <div *ngIf="!isNewObject()" style="position: relative;width: 100px;"><span class="Label mr-1 Label--success"
        style="position: absolute;top: 50%; left: 50%;transform: translate(-50%,-50%);">Running</span></div>
        -->
    <div class="Subhead-actions" style="display: inherit;">
      <details *ngIf="!isNewObject()" #modalDelete id="modalDelete"
               class="details-reset details-overlay details-overlay-dark" style="display: unset;">
        <summary class="btn btn-sm btn-danger mr-1" aria-haspopup="dialog"><span octicon="trash" [size]=16
                                                                                 class="mr-1"></span>Delete
        </summary>
        <details-dialog class="Box Box--overlay d-flex flex-column anim-fade-in fast">
          <div class="Box-header">
            <button onclick='document.getElementById("modalDelete").removeAttribute("open");'
                    class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog"
                    data-close-dialog>
              <span
                octicon="x" [size]=16 class="mr-1"></span>
            </button>
            <h3 class="Box-title">Are you absolutely sure?</h3>

          </div>
          <div class="flash flash-warn flash-full">
            Unexpected bad things will happen if you don’t read this!
          </div>

          <div class="Box-body overflow-auto">
            <p>
              This action <strong>cannot</strong> be undone. This will permanently delete the
              <strong>{{ integrationInstance.title }}</strong> integration.
            </p>
            <button (click)="delete(integrationInstance)" class="btn-danger btn btn-block">
              <span class="d-md-inline-block d-none">I understand the consequences, delete this integration</span>
            </button>
          </div>
        </details-dialog>
      </details>
    </div>
    <div *ngIf="!isNewObject()" class="Subhead-description">{{ integrationInstance.description }}</div>
  </div>
  <div id="col-left" class="float-left" style="width: 280px;padding-right: 15px;">
    <nav class="menu" aria-label="Site settings">

      <a class="menu-item" [routerLink]="['/integration', 'web-crawler', integrationInstance.id, 'detail']"
         [routerLinkActive]="['selected']"><span
        octicon="gear" [size]=16 class="mr-1"></span> Settings</a>
    </nav>
    <nav class="menu" aria-label="AEM">
      <div class="menu-heading">Web Crawler Connector</div>
      <a class="menu-item" [routerLink]="['/integration', 'web-crawler', integrationInstance.id, 'instance']"
         [routerLinkActive]="['selected']"><span
        octicon="git-commit" [size]=16 class="mr-1"></span> Sources</a>

    </nav>
  </div>
  <div id="col-right" class="float-right" style="width: calc(100% - 300px);">
    <router-outlet>
    </router-outlet>
  </div>
</div>
<ng-template #loading>
  <span>Loading</span><span class="AnimatedEllipsis"></span>
</ng-template>
