<div style="padding: 15px">
	<ul class="list-group">
		<li class="list-group-item"
			ng-repeat="turDataGroupSentence in data.turDataGroupSentences |orderBy:'id'">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
					<select class="form-control"
						ng-model="turDataGroupSentence.turMLCategory"
						ng-change="sentenceUpdate(turDataGroupSentence)">
						<option ng-repeat="category in dataGroup.turDataGroupCategories"
							ng-value="category.turMLCategory.id">{{category.turMLCategory.name}}</option>
						<option value="">- Pick One -</option>
					</select>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-10 col-xs-10">
					<a
						ui-sref="ml.datagroup-edit.sentence-edit ({mlSentenceId:turDataGroupSentence.id})">{{turDataGroupSentence.sentence}}</a>
				</div>
			</div>
		</li>
	</ul>
</div>