[submodule "search"]
	path = turing-search
	url = https://github.com/openturing/turing-search.git
[submodule "nlp"]
	path = turing-nlp
	url = https://github.com/openturing/turing-nlp.git
[submodule "core"]
	path = turing-core
	url = https://github.com/openturing/turing-core.git
