
/target/
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
*.log
/logs/
/models/
/bin/
/.gradle/
/build/
/store/logs
/activemq-data/
.project
.jsdtscope
.vscode
.settings
.classpath
db-encrypted.properties
.bloop
.metals
.settings
.project
src/main/resources/public/js/converse/build/aggregate
src/main/resources/public/js/converse/dist