db-encrypted.properties

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
/.classpath
/.vscode
/.settings
/.project
/volumes/mariadb/*
/volumes/turing/*
!/volumes/turing/.gitkeep
!/volumes/mariadb/.gitkeep
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
/target/
/store/
/.gradle/
/logs/
/build/
/backup/
/nashorn_code_cache
.sts4-cache
/store.*
/node_modules

/activemq-data
/models
.metals
.bloop
.sonar_lock
/.idea

.flattened-pom.xml
dependency-reduced-pom.xml
/turing-aem/aem-web-indexer/src/main/resources/customer/
/turing-aem/aem-web-indexer/store/db/
/turing-aem/aem-web-indexer/store/logs/
/turing-web-crawler/wc-app/store/
/turing-web-crawler/wc-commons/target/
/turing-sprinklr/store/
