swagger: "2.0"

################################################################################
#                              API Information                                 #
################################################################################
info:
  version: "0.9"
  title: Viglet Turing REST API
# during dev, should point to your local machine
host: api.viglet.ai
# basePath prefixes all resource paths

# basePath: 
basePath: /turing

#
schemes:
  # tip: remove http to make production-grade
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json

################################################################################
#                                  Security                                    #
################################################################################
securityDefinitions:
  oauth:
    type: oauth2
    flow: implicit
    authorizationUrl: https://api.viglet.ai/oauth/authorize/?client_id=CLIENT-ID&redirect_uri=REDIRECT-URI&response_type=token
    scopes:
      basic: |
       to read any and all data related to twitter
security:
  - oauth:
    - basic
################################################################################
#                                           Paths                              #
################################################################################
################################################################################
#                                         Entities                             #
################################################################################
paths:
  /entity:
    get:
      description: Returns the entities
      security:
       - oauth:
         - basic
      tags: 
        - Entities     
      responses:
        "200":
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Entity'

  /entity/{entityId}:
    get:
      description: Return an entity
      security:
       - oauth:
         - basic
      parameters:
        - name: entityId
          in: path
          description: The numerical ID of the desired entity
          required: true
          type: string
      tags: 
        - Entities  
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'
            
    delete:
      description: Delete an entity
      security:
       - oauth:
         - basic
      parameters:
        - name: entityId
          in: path
          description: The numerical ID of the desired status
          required: true
          type: string
        - name: trim_user
          in: query
          description: When set to either true, t or 1, each tweet returned in a timeline will include a user object
          required: false
          type: string
      tags: 
        - Entities          
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'
            
            
  /entity/{entityId}/term:
    get:
      description: Returns entire terms per entity
      security:
       - oauth:
         - basic
      parameters:
        - name: entityId
          in: path
          description: The numerical ID of the desired NLP
          required: true
          type: string
      tags: 
        - Entities          
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'
  /entity/term/{termId}:
    get:
      description: Return a term
      security:
       - oauth:
         - basic
      parameters:
        - name: termId
          in: path
          description: The numerical ID of the desired term
          required: true
          type: string
      tags: 
        - Entities            
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'         
    delete:
      description: Delete a term
      security:
       - oauth:
         - basic
      parameters:
        - name: termId
          in: path
          description: The numerical ID of the desired term
          required: true
          type: string
      tags: 
        - Entities            
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'                   
  /ml:
    get:
      description: Returns entire machine learning
      security:
       - oauth:
         - basic
      tags: 
        - Machine Learning  
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users' 
         
  /ml/{mlId}:
    get:
      description: Returns an machine learning
      security:
       - oauth:
         - basic
      parameters:
        - name: mlId
          in: path
          description: The numerical ID of the desired ML
          required: true
          type: string  
      tags: 
        - Machine Learning            
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'   
    delete:
      description: Delete an machine learning
      security:
       - oauth:
         - basic
      parameters:
        - name: mlId
          in: path
          description: The numerical ID of the desired ML
          required: true
          type: string   
      tags: 
        - Machine Learning            
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'  
  
  /ml/type:
    get:
      description: Returns an entire machine learning types
      security:
       - oauth:
         - basic
      tags: 
        - Machine Learning           
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'   

  /ml/type/{mlTypeId}:
    get:
      description: Returns a machine learning type
      security:
       - oauth:
         - basic
      parameters:
        - name: mlTypeId
          in: path
          description: The numerical ID of the desired ML
          required: true
          type: string         
      tags: 
        - Machine Learning  
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'   
    delete:
      description: Delete an machine learning
      security:
       - oauth:
         - basic
      parameters:
        - name: mlTypeId
          in: path
          description: The numerical ID of the desired ML
          required: true
          type: string  
      tags: 
        - Machine Learning            
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'                     
  /ml/data/{dataId}:
    get:
      description: Return a data set
      security:
       - oauth:
         - basic
      parameters:
        - name: dataId
          in: path
          description: The numerical ID of the desired dataset
          required: true
          type: string
      tags: 
        - Datasets    
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'
    delete:
      description: Delete a data set
      security:
       - oauth:
         - basic
      parameters:
        - name: dataId
          in: path
          description: The numerical ID of the desired data set
          required: true
          type: string
      tags: 
        - Datasets            
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'            
    post:
      description: Update a data set
      security:
       - oauth:
         - basic
      parameters:
        - name: dataId
          in: path
          description: The numerical ID of the desired data set
          required: true
          type: string
      tags: 
        - Datasets            
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'  
            
  /ml/data/group:
    get:
      description: Returns the data groups
      security:
       - oauth:
         - basic
      tags: 
        - Datasets           
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'
            
  
  /ml/data/import:
    post:
      description: Import a data set
      security:
       - oauth:
         - basic
      parameters:
        - name: count
          in: query
          description: Specifies the number of tweets to try and retrieve
          required: false
          type: string
        - name: since_id
          in: query
          description: Returns result with an ID greater than the specified ID
          required: false
          type: string
        - name: max_id
          in: query
          description: Returns results with an ID less than or equal to the specified ID
          required: false
          type: string
        - name: trim_user
          in: query
          description: When set to either true, t or 1, each tweet returned in a timeline will include a user object
          required: false
          type: string
        - name: contributor_details
          in: query
          description: This parameter enhances the contributors element of the status response
          required: false
          type: string
        - name: include_entities
          in: query
          description: The entities node will be disincluded when set to false
          required: false
          type: string
      tags: 
        - Datasets            
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'
            
  
  
  /ml/data/group/{dataGroupId}:
    get:
      description: Returns a specific data group
      security:
       - oauth:
         - basic
      parameters:
        - name: dataGroupId
          in: path
          description: The numerical ID of the desired data group.
          required: true
          type: string
      tags: 
        - Datasets            
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'
            
  

  /ml/model:
    get:
      description: Returns all models.
      security:
       - oauth:
         - basic
      tags: 
        - Models         
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'

  /ml/model/{modelId}/evaluation:
    get:
      description: Test the model.
      security:
       - oauth:
         - basic
      parameters:
        - name: modelId
          in: path
          description: The numerical ID of the desired model
          required: true
          type: string
      tags: 
        - Models 
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'
            
  

  /ml/model/{modelId}/generate:
    get:
      description: Generate a model.
      security:
       - oauth:
         - basic
      parameters:
        - name: modelId
          in: path
          description: The numerical ID of the desired model
          required: true
          type: string
      tags: 
        - Models
      responses:
        "200":
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Users'

  /nlp/type:
    get:
      description: Returns a timeline of tweets authored by memebers of the specified list
      security:
       - oauth:
         - basic
      parameters:
        - name: list_id
          in: query
          description: The numerical id of the list
          required: true
          type: string
        - name: slug
          in: query
          description: You can identify a list by its slug instead of its numerical id
          required: true
          type: string
        - name: owner_screen_name
          in: query
          description: The screen name of the user who owns the list being requested by a slug
          required: false
          type: string
        - name: owner_id
          in: query
          description: The user ID of the user who owns the list being requested by a slug
          required: false
          type: string
        - name: since_id
          in: query
          description: Returns results with an ID greater than the sepcified ID
          required: false
          type: string
        - name: max_id
          in: query
          description: Returns results with an ID less than or equal to the specified ID
          required: false
          type: string
        - name: count
          in: query
          description: Specifies the number of results to retrieve per page
          required: false
          type: string
        - name: include_entities
          in: query
          description: Entities are ON by default
          required: false
          type: string
        - name: include_rts
          in: query
          description: When set to either true, t or 1, the list timeline will contain native retweets in addition to the standard stream of tweets
          required: false
          type: string
      tags: 
        - NLPs
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'
            
  
  /nlp/type/{nlpTypeId}:
    post:
      description: Destroys the status specified by the required ID parameter
      security:
       - oauth:
         - basic
      parameters:
        - name: nlpTypeId
          in: path
          description: The numerical ID of the desired status
          required: true
          type: string
        - name: trim_user
          in: query
          description: When set to either true, t or 1, each tweet returned in a timeline will include a user object
          required: false
          type: string
      tags: 
        - NLPs          
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'
            
  
            
  /nlp:
    get:
      description: Returns the list of memebers destroy
      security:
       - oauth:
         - basic
      parameters:
        - name: list_id
          in: query
          description: The numerical id of the list
          required: true
          type: string
        - name: slug
          in: query
          description: You can identify a list by its slug instrad of its numerical id
          required: true
          type: string
        - name: owner_screen_name
          in: query
          description: The screen name of the user who owns the list being requested by a slug
          required: false
          type: string
        - name: user_id
          in: query
          description: The id of the user for whom to remove from the list
          required: false
          type: string
        - name: screen_name
          in: query
          description: The screen name of the user for whom to remove from the list
          required: false
          type: string
        - name: owner_id
          in: query
          description: The is of the user who wons the list being requested by a slug
          required: false
          type: string
      tags: 
        - NLPs          
      responses:
        "200":
          description: Success
          
  /nlp/{nlpId}:
    post:
      description: Destroys the status specified by the required ID parameter
      security:
       - oauth:
         - basic
      parameters:
        - name: nlpId
          in: path
          description: The numerical ID of the desired status
          required: true
          type: string
        - name: trim_user
          in: query
          description: When set to either true, t or 1, each tweet returned in a timeline will include a user object
          required: false
          type: string
      tags: 
        - NLPs          
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'
            
  
            
  /otca/af:
    post:
      description: Imports the OTCA Autority File XML to Viglet Turing as Entity.
      security:
       - oauth:
         - basic
      operationId: uploadFile
      consumes:
        - multipart/form-data
      produces:
        - application/json         
      parameters:
        - name: file
          in: formData
          description: OTCA AF XML file
          required: true
          type: file
      tags: 
        - Integrations          
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'

  /otsn/broker:
    get:
      description: Simulate the OTSN Broker
      security:
       - oauth:
         - basic
      parameters:
        - name: data
          in: formData
          description: XML with atributes
          required: false
          type: string
        - name: index
          in: formData
          description: Name of core Index of Search Engine
          required: false
          type: string
        - name: config
          in: formData
          description: Config file name
          required: false
          type: string
      tags: 
        - Integrations          
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'

  /otsn/search/theme/json:
    post:
      description: Returns JSON of Semantic Navigation.
      security:
       - oauth:
         - basic
      parameters:
        - name: q
          in: query
          description: Term to search
          required: false
          type: string
        - name: p
          in: query
          description: Number of page
          required: false
          type: integer
        - name: fq[]
          in: query
          description: Filter Query, normaly is used to facets
          required: false
          type: string
        - name: _setlocale
          in: query
          description: Locale
          required: false
          type: string
        - name: sort
          in: query
          description: Search Sort
          required: false
          type: string
      tags: 
        - Integrations          
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'

  /se:
    get:
      description: Returns all search engines
      security:
       - oauth:
         - basic
      tags: 
        - Search Engines     
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'
 
  /se/{seId}:
    post:
      description: Returns a specific search engine
      security:
       - oauth:
         - basic
      parameters:
        - name: seId
          in: path
          description: The numerical ID of the desired search engine
          required: true
          type: string
      tags: 
        - Search Engines          
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'
                        
  /se/{seId}/select:
    get:
      description: Search into default search engine.
      security:
       - oauth:
         - basic
      parameters:
        - name: seId
          in: path
          description: The numerical ID of the desired search engine
          required: true
          type: string     
        - name: q
          in: query
          description: Term to search
          required: false
          type: string
        - name: p
          in: query
          description: Number of page
          required: false
          type: integer
        - name: fq[]
          in: query
          description: Filter Query, normaly is used to facets
          required: false
          type: string
        - name: _setlocale
          in: query
          description: Locale
          required: false
          type: string
        - name: sort
          in: query
          description: Search Sort
          required: false
          type: string
      tags: 
        - Search Engines             
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'
            
  /se/{seId}/update:
    get:
      description: Index content into specific search engine.
      security:
       - oauth:
         - basic
      parameters:
        - name: seId
          in: path
          description: The numerical ID of the desired search engine
          required: true
          type: string      
        - name: vigText
          in: query
          description: Text 
          required: true
          type: string
        - name: vigNLP
          in: query
          description: NLP Id
          required: true
          type: integer
        - name: vigSE
          in: query
          description: Search Engine Id
          required: true
          type: integer
      tags: 
        - Search Engines             
      responses:
        "200":
          description: Success
          schema:
            $ref: '#/definitions/Users'
            
  

################################################################################
#                                 Definitions                                  #
################################################################################
definitions:
  Entities:
    type: object
    properties:
      contributors:
        type: array
        items:
          $ref: '#/definitions/Entity'

  Entity:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
      description:
        type: string

  Users:
    type: object
    properties:
      contributors_enabled:
        type: boolean
      created_at:
        type: string
      default_profile:
        type: boolean
      default_profile_image:
        type: boolean
      description:
        type: string
      entities:
        $ref: '#/definitions/Entities'
      favorites_count:
        type: integer
      follow_request_sent:
        type: boolean
      following:
        type: boolean
      followers_count:
        type: integer
      friends_count:
        type: integer
      geo_enabled:
        type: boolean
      id:
        type: integer
      id_str:
        type: string
      is_translator:
        type: boolean
      lang:
        type: string
      listed_count:
        type: integer
      location:
        type: string
      name:
        type: string
      notifications:
        type: boolean
      profile_background_color:
        type: string
      profile_background_image_url:
        type: string
      profile_background_image_url_https:
        type: string
      profile_background_tile:
        type: string
      profile_banner_url:
        type: string
      profile_image_url:
        type: string
      profile_image_url_https:
        type: string
      profile_link_color:
        type: string
      profile_sidebar_border_color:
        type: string
      profile_sidebar_fill_color:
        type: string
      profile_text_color:
        type: string
      profile_use_background_image:
        type: boolean
      protected:
        type: boolean
      screen_name:
        type: string
      show_all_inline_media:
        type: boolean
      statuses_count:
        type: integer
      time_zone:
        type: string
      url:
        type: string
      utc_offset:
        type: integer
      verified:
        type: boolean
      withheld_in_countries:
        type: string
      withheld_scope:
        type: string