<div style="padding: 15px">
	<ul class="list-group">
		<li class="list-group-item"
			ng-repeat="turDataGroupSentence in data.turDataGroupSentences">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
					<select  class="form-control"
						ng-model="turDataGroupSentence.turMLCategory"
						ng-change="sentenceUpdate(turDataGroupSentence)"
						ng-options="+(category.turMLCategory.id) as category.turMLCategory.name for category in categories track by +(category.turMLCategory.id)">
						<option value="">- Pick One -</option>
					</select>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-10 col-xs-10">
					{{turDataGroupSentence.turMLCategory}} - {{turDataGroupSentence.sentence}}</div>
			</div>
		</li>
	</ul>
</div>