<div style="padding: 15px">
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="turDataSentence in data.turDataSentences">
		<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
			<select class="form-control" ng-model="turDataSentence.turMLCategory"
					ng-options="turMLCategory as turMLCategory.name for turMLCategory in categories track by turMLCategory.id">
					<option value="">- Pick One -</option>
				</select>
		</div>
		<div class="col-lg-9 col-md-9 col-sm-10 col-xs-10">
		{{turDataSentence.sentence}}
		</div>
		</div>
		</li>
	</ul>
</div>