<div>
    <h2>Entities</h2>
    <div style="border-color: #f5f5f5; border-style: solid; border-width: 2px;">
        <div style="background-color: #f5f5f5; padding: 10px">
            <a ui-sref="console.converse.agent.entity-new" class="btn btn-viglet">Add</a>
        </div>
        <div style="padding: 10px">
            <div ui-sortable ng-model="entities">
                <div class="list-group-item" ng-repeat="entity in entities">
                    <div style="display: inline-table">
                        <div style="min-width: 50px;">
                            <span class="numberCircle" style="margin-right: 10px"><span>{{$index+1}}</span></span>
                        </div>
                        <span style="visibility: hidden;">{{entity.ordinal=$index+1}}</span>
                    </div>
                    <div style="display: inline-table; width: calc(100% - 120px);">
                        <a ui-sref="console.converse.agent.entity-edit({entityId: entity.id})">{{entity.name}}</a>
                    </div>
                    <div style="display: inline-table">
                        <button type="button" class="btn btn-link btn-xs pull-right" style="display: block;"
                            ng-click="removeEntity(entity, $index)">
                            <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>