<tur-header></tur-header>
<nav class="UnderlineNav overflow-hidden  px-3 px-md-4 px-lg-5 mt-3 mb-2" aria-label="Dashboard Tabs">
  <div class="UnderlineNav-body">
    <a [routerLink]="['/nlp']" [routerLinkActive]="['selected']" class="UnderlineNav-item">
      <span octicon="comment-discussion" [size]=16 class="UnderlineNav-octicon octicon mr-1"
        [style.color]="getRouter().url === '/nlp'?'':'#959da5'"></span>
      NLP
    </a>
    <a [routerLink]="['/se']" [routerLinkActive]="['selected']" class="UnderlineNav-item">
      <span octicon="codescan" [size]=16 class="UnderlineNav-octicon octicon mr-1"
        [style.color]="getRouter().url === '/se'?'':'#959da5'"></span>
      Search Engine
    </a>
    <a [routerLink]="['/sn']" [routerLinkActive]="['selected']" class="UnderlineNav-item">
      <span octicon="search" [size]=16 class="UnderlineNav-octicon octicon mr-1"
        [style.color]="getRouter().url === '/sn'?'':'#959da5'"></span>
      Semantic Navigation
    </a>
    <a [routerLink]="['/integration']" [routerLinkActive]="['selected']" class="UnderlineNav-item">
      <span octicon="plug" [size]=16 class="UnderlineNav-octicon octicon mr-1"
            [style.color]="getRouter().url === '/integration'?'':'#959da5'"></span>
      Integration
    </a>
    <a [routerLink]="['/dev']" [routerLinkActive]="['selected']" class="UnderlineNav-item">
      <span octicon="code" [size]=16 class="UnderlineNav-octicon octicon mr-1"
            [style.color]="getRouter().url === '/dev'?'':'#959da5'"></span>
      API Token
    </a>
  </div>
</nav>
<div class="clearfix container-xl p-0">
  <router-outlet>
  </router-outlet>
</div>
