<div ng-controller="MLDataGroupItemCtrl" class="mdl-grid">

	<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
		<div
			class="demo-options mdl-card mdl-card--expand  mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop"
			style="width: 100%;">
			<div class="mdl-card__supporting-text mdl-card--expand"
				style="width: 100%;">
				<div
					class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
					<div
						class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
						style="width: calc(100% - 20px)">
						<input ng-model="vigDataGroup.datagroup.name" class="mdl-textfield__input" type="text" id="title"
							style="font-size: 40px" value="{{vigDataGroup.datagroup.name}}">
						<label class="mdl-textfield__label" for="title">Name</label>
					</div>
				</div>
				<div
					class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
					<div
						class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
						style="width: calc(100% - 20px);">
						<input ng-model="vigDataGroup.datagroup.description" class="mdl-textfield__input" type="text" id="description"
							value="{{vigDataGroup.datagroup.description}}"> <label
							class="mdl-textfield__label" for="description">Description</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
		<button ng-click="create(vigDataGroup.datagroup)"
			class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
			Create Data Group</button>
	</div>
</div>