<div>
	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<div
					style="background-color: royalblue; text-align: center; height: 200px">
					<img src="images/add.png" alt="nlp" style="padding: 15px">
					<h3
						style="color: white; position: absolute; left: 30px; top: 170px; z-index: 10">Add
						Site</h3>
				</div>
				<div class="caption">
					<p>Create a New Site to Semantic Navigation</p>
					<p>
						<a ui-sref="sn.site-new" class="btn btn-viglet btn-lg btn-block"
							role="button">Create</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4" ng-repeat="snSite in snSites">
			<div class="thumbnail">
				<div
					style="background-color: royalblue; text-align: right; height: 200px">
					<img src="images/solr.png" alt="solr" style="padding: 15px">
					<h3
						style="color: white; position: absolute; left: 30px; top: 170px; z-index: 10">{{snSite.name}}</h3>
				</div>
				<div class="caption">
					<p>{{snSite.description}}&nbsp;</p>
					<p>
						<a ui-sref="sn.site-edit({snSiteId:snSite.id})"
							class="btn btn-viglet btn-lg btn-block" role="button">Configure</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>