<div style="padding: 15px">
	<div class="pull-right">
		<button ng-click="fieldNew()" type="button" class="btn btn-viglet">New</button>
	</div>
	<h3>Fields</h3>

	<ul class="list-group">
		<li class="list-group-item"
			ng-repeat="turSNSiteField in snSite.turSNSiteFields |orderBy:'id'">
			<div class="row">
				<div class="col-lg-9 col-md-9 col-sm-10 col-xs-10">
					<a
						ui-sref="sn.site-edit.field-edit({snSiteFieldId:turSNSiteField.id})">{{turSNSiteField.name}}</a>
				</div>
			</div>
		</li>
	</ul>
</div>