<div style="padding: 15px">
	<h3>{{'APPEARANCE' | translate }}</h3>
</div>

<div class="row" style="margin: 0px; padding: 10px; padding-bottom: 0px">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
		style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
		{{'ITEMS_PER_PAGE' | translate }}</div>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">
		<input ng-model="snSite.rowsPerPage" maxlength="4"
			class="form-control">

	</div>
</div>
<div style="padding: 15px">
	<h3>{{'FACET' | translate }}</h3>
</div>
<div class="row" style="margin: 0px; padding: 10px; padding-bottom: 0px">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
		style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
		{{'FACET_ENABLED' | translate }}</div>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">
		<select class="form-control" ng-model="snSite.facet" convert-to-number>
			<option value="0">{{'NO' | translate }}</option>
			<option value="1">{{'YES' | translate }}</option>
		</select>
	</div>
</div>
<div class="row" style="margin: 0px; padding: 10px; padding-bottom: 0px">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
		style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
		{{'ITEMS_PER_FACET' | translate }}</div>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">

		<input maxlength="4" ng-model="snSite.itemsPerFacet" type="text"
			class="form-control">
	</div>
</div>
<div style="padding: 15px">
	<h3>{{'HIGHLIGHTING' | translate }}</h3>
</div>
<div class="row" style="margin: 0px; padding: 10px; padding-bottom: 0px">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
		style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
		{{'HL_ENABLED' | translate }}</div>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">
		<select class="form-control" ng-model="snSite.hl" convert-to-number>
			<option value="0">{{'NO' | translate }}</option>
			<option value="1">{{'YES' | translate }}</option>
		</select>
	</div>

</div>
<div class="row" style="margin: 0px; padding: 10px; padding-bottom: 0px">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
		style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
		{{'HL_PRE' | translate }}</div>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">

		<input maxlength="15" ng-model="snSite.hlPre" type="text"
			class="form-control">

	</div>
</div>
<div class="row" style="margin: 0px; padding: 10px; padding-bottom: 0px">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
		style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
		{{'HL_POST' | translate }}</div>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">

		<input maxlength="15" ng-model="snSite.hlPost" type="text"
			class="form-control">

	</div>
</div>

<div style="padding: 15px">
	<h3>{{'MLT' | translate }}</h3>
</div>

<div class="row" style="margin: 0px; padding: 10px; padding-bottom: 0px">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
		style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
		{{'MLT_ENABLED' | translate }}</div>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">
		<select class="form-control" ng-model="snSite.mlt" convert-to-number>
			<option value="0">{{'NO' | translate }}</option>
			<option value="1">{{'YES' | translate }}</option>
		</select>
	</div>
</div>

<div style="padding: 15px">
	<h3>Default Fields</h3>
</div>

<div class="row" style="margin: 0px; padding: 10px; padding-bottom: 0px">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
		style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
		Text</div>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">

		<input maxlength="15" ng-model="snSite.defaultTextField" type="text"
			class="form-control">

	</div>
</div>

<div class="row" style="margin: 0px; padding: 10px; padding-bottom: 0px">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
		style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
		Description</div>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">

		<input maxlength="15" ng-model="snSite.defaultDescriptionField" type="text"
			class="form-control">

	</div>
</div>

<div class="row" style="margin: 0px; padding: 10px; padding-bottom: 0px">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
		style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
		Date</div>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">

		<input maxlength="15" ng-model="snSite.defaultDateField" type="text"
			class="form-control">

	</div>
</div>


<div style="padding: 10px;">
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"
			style="padding: 0px; padding-top: 20px; padding-bottom: 20px;">
			<div class="btn-group">
				<button ng-click="snSiteUpdate()" type="button"
					class="btn btn-viglet">{{'SETTINGS_SAVE_CHANGES' |
					translate }}</button>
				<button type="button" class="btn btn-viglet dropdown-toggle"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="caret"></span> <span class="sr-only">Toggle
						Dropdown</span>
				</button>
				<ul class="dropdown-menu">
					<li><a ng-click="snSiteDelete()">Delete</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
