<div class="Subhead">
  <div class="Subhead-heading">Semantic Navigation Site</div>
</div>
<div id="col-left" class="float-left" style="width: 280px;padding-right: 15px;">
  <nav class="menu" aria-label="Site settings">
    <a class="menu-item" [routerLink]="['/console/sn/site',getId() , 'detail']"
      [routerLinkActive]="['selected']">Detail</a>
    <a class="menu-item" [routerLink]="['/console/sn/site',getId() , 'field']"
      [routerLinkActive]="['selected']">Fields</a>
    <a class="menu-item" [routerLink]="['/console/sn/site',getId() , 'ui']"
      [routerLinkActive]="['selected']">Appearance</a>
  </nav>
</div>
<div id="col-right" class="float-right" style="width: calc(100% - 300px);">
  <router-outlet>
  </router-outlet>
</div>
