<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Prompts for "{{$ctrl.actionName}}"</h3>
</div>
<div class="modal-body">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Prompts</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="prompt in $ctrl.prompts">
                <td>
                    <div class="form-group"><input type="text" class="form-control" id="promptText" ng-model="prompt.text">
                    </div>
                </td>
                <td>
                    <div style="display: inline-table">
                        <button type="button" class="btn btn-link btn-xs pull-right" style="display: block;"
                            ng-click="$ctrl.removePrompt($index)">
                            <i class="fa fa-trash-o" aria-hidden="true" style="font-size: 30px;"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <a ng-click="$ctrl.addPrompt()" style="cursor: pointer;">+ New Prompt</a>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="$ctrl.ok()"
        ng-class="{'btn-viglet': $ctrl.shPostSelected != null }">Close</button>
</div>