<div style="height: 100vh;padding-top: 30px;">
  <div class="px-3" style="width: 340px;margin: 0 auto;" id="login">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <a href="/welcome">
          <tur-logo [size]=48></tur-logo>
        </a>
      </div>
      <div class="f2-light text-center">
        Reset your password
      </div>
      <div class="Box mt-3">
        <div class="Box-body">
          <div class="mb-4 mt-3">
            <div class="form-group-header mb-1"><label>Enter your user account's verified email address and we will send
                you a password reset link.</label></div>
            <div class="form-group-body"><input formControlName="email" type="text" name="email" id="email"
                placeholder="Enter your email address" class="form-control form-control input-block" tabindex="2"
                autocomplete="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"></div>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
          </div>
          <input [disabled]="loading" type="submit" name="commit" value="Send password reset email" tabindex="3"
            class="btn btn-primary btn-block" data-disable-with="Signing in…">
          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </div>
      </div>
    </form>
  </div>
</div>
