<div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div style="background-color:#FF874B;text-align:right;height:200px" >
      <img src="images/nlp.png" alt="nlp" style="padding:15px">
      <h3 style="color:white;position: absolute;left: 30px;top:170px;z-index:10">NLP</h3>
      </div>
      <div class="caption">
        <p>Using Standford CoreNLP</p>
         <p><a ui-sref="nlp.instance" class="btn btn-viglet btn-lg btn-block" role="button">Configure</a></p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div style="background-color:#FF874B;text-align:right;height:200px" >
      <img src="images/ml.png" alt="machine learning" style="padding:15px">
      <h3 style="color:white;position: absolute;left: 30px;top:170px;z-index:10">Machine Learning</h3>
      </div>
      <div class="caption">
        <p>Using Google Tensorflow</p>
        <p><a ui-sref="ml.instance" class="btn btn-viglet btn-lg btn-block" role="button">Configure</a></p>
      </div>
    </div>
  </div>
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div style="background-color:#FF874B;text-align:right;height:200px"  >
      <img src="images/solr.png" alt="machine learning" style="padding:15px">
      <h3 style="color:white;position: absolute;left: 30px;top:170px;z-index:10">Search Engine</h3>
      </div>
      <div class="caption">
        <p>Using Apache Solr</p>
        <p><a href="#" class="btn btn-viglet btn-lg btn-block" role="button">Configure</a></p>
      </div>
    </div>
  </div>
</div>
</div>