<div class="panel panel-default"
	style='font-family: "Raleway", sans-serif; font-weight: 400; margin-bottom: 0px; padding-bottom: 0px;'>
	<div class="panel-title"
		style="padding: 10px; border-bottom-color: rgb(217, 217, 217); border-bottom-style: solid; border-bottom-width: thin;">
		<p style="font-size: 18px; color: #FF874B; margin: 0px;">{{snSiteField.name}}</p>
	</div>
	<div class="panel-body" style="padding: 0px;">
		<!-- <div class="row"
		style="margin: 0px; padding: 10px; padding-bottom: 0px">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
			style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
			{{'ID' | translate }}</div>
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">
			<input ng-model="snSiteField.id" maxlength="50" class="form-control">

		</div>
	</div> -->
		<div class="row"
			style="margin: 0px; padding: 10px; padding-bottom: 0px">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
				style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
				{{'NAME' | translate }}</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">

				<input maxlength="50" ng-model="snSiteField.name" type="text"
					class="form-control">
			</div>
		</div>
		<div class="row"
			style="margin: 0px; padding: 10px; padding-bottom: 0px">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
				style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
				{{'DESCRIPTION' | translate }}</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">

				<input maxlength="50" ng-model="snSiteField.description" type="text"
					class="form-control">
			</div>
		</div>

		<div class="row"
			style="margin: 0px; padding: 10px; padding-bottom: 0px">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
				style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
				{{'TYPE' | translate }}</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">

				<input maxlength="50" ng-model="snSiteField.type" type="text"
					class="form-control">
			</div>
		</div>
		<div class="row"
			style="margin: 0px; padding: 10px; padding-bottom: 0px">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
				style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
				{{'Multi Valued' | translate }}</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">
				<div class="input-group">
					<input type="checkbox" ng-model="snSiteField.multiValued"
						ng-true-value="1" ng-false-value="0">
				</div>
			</div>
		</div>

		<div class="row"
			style="margin: 0px; padding: 10px; padding-bottom: 0px">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
				style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
				{{'FACET_NAME' | translate }}</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">

				<input maxlength="50" ng-model="snSiteField.facetName" type="text"
					class="form-control">
			</div>
		</div>
		<div class="row"
			style="margin: 0px; padding: 10px; padding-bottom: 0px">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
				style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
				{{'FACET' | translate }}</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">
				<div class="input-group">
					<input type="checkbox" ng-model="snSiteField.facet"
						ng-true-value="1" ng-false-value="0">
				</div>

			</div>
		</div>
		<div class="row"
			style="margin: 0px; padding: 10px; padding-bottom: 0px">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
				style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
				{{'Highlighting' | translate }}</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">
				<div class="input-group">
					<input type="checkbox" ng-model="snSiteField.hl" ng-true-value="1"
						ng-false-value="0">
				</div>

			</div>
		</div>
		<div style="padding: 10px;">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"
					style="padding: 0px; padding-top: 20px; padding-bottom: 20px;">
					<div class="btn-group">
						<button ng-click="snSiteFieldUpdate()" type="button"
							class="btn btn-viglet">{{'SETTINGS_SAVE_CHANGES' |
							translate }}</button>
						<button type="button" class="btn btn-viglet dropdown-toggle"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="caret"></span> <span class="sr-only">Toggle
								Dropdown</span>
						</button>
						<ul class="dropdown-menu">
							<li><a ng-click="snSiteFieldDelete()">Delete</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>