<div class="panel panel-default"
	style='font-family: "Raleway", sans-serif; font-weight: 400; margin-bottom: 0px; padding-bottom: 0px;'>
	<div class="panel-title"
		style="padding: 10px; border-bottom-color: rgb(217, 217, 217); border-bottom-style: solid; border-bottom-width: thin;">
		<p style="font-size: 18px; color: royalblue; margin: 0px;">{{snSiteFieldExt.name}}
			({{ snSiteFieldExt.snType | translate }})</p>
	</div>
	<div class="panel-body" style="padding: 0px;">
		<!-- <div class="row"
		style="margin: 0px; padding: 10px; padding-bottom: 0px">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
			style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
			{{'ID' | translate }}</div>
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">
			<input ng-model="snSiteFieldExt.id" maxlength="50" class="form-control">

		</div>
	</div> -->
		<div class="row"
			style="margin: 0px; padding: 10px; padding-bottom: 0px">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
				style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
				{{'NAME' | translate }}</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">

				<input ng-model="snSiteFieldExt.name" type="text"
					class="form-control">
			</div>
		</div>
		<div class="row"
			style="margin: 0px; padding: 10px; padding-bottom: 0px">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
				style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
				{{'DESCRIPTION' | translate }}</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">

				<input ng-model="snSiteFieldExt.description"
					type="text" class="form-control">
			</div>
		</div>

		<div class="row"
			style="margin: 0px; padding: 10px; padding-bottom: 0px">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
				style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
				{{'TYPE' | translate }}</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">

				<input ng-model="snSiteFieldExt.type" type="text"
					class="form-control">
			</div>
		</div>
		<div class="row"
			style="margin: 0px; padding: 10px; padding-bottom: 0px">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
				style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
				{{'MULTI_VALUED' | translate }}</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">
				<div class="input-group">
					<input type="checkbox" ng-model="snSiteFieldExt.multiValued"
						ng-true-value="1" ng-false-value="0">
				</div>
			</div>
		</div>

		<div class="row"
			style="margin: 0px; padding: 10px; padding-bottom: 0px">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
				style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
				{{'FACET_NAME' | translate }}</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">

				<input ng-model="snSiteFieldExt.facetName"
					type="text" class="form-control">
			</div>
		</div>
		<div class="row"
			style="margin: 0px; padding: 10px; padding-bottom: 0px">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
				style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
				{{'FACET' | translate }}</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">
				<div class="input-group">
					<input type="checkbox" ng-model="snSiteFieldExt.facet"
						ng-true-value="1" ng-false-value="0">
				</div>

			</div>
		</div>
		<div class="row"
			style="margin: 0px; padding: 10px; padding-bottom: 0px">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
				style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
				{{'HIGHLIGHTING' | translate }}</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">
				<div class="input-group">
					<input type="checkbox" ng-model="snSiteFieldExt.hl"
						ng-true-value="1" ng-false-value="0">
				</div>

			</div>
		</div>
		<div class="row"
			style="margin: 0px; padding: 10px; padding-bottom: 0px">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
				style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
				{{'MLT' | translate }}</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">
				<div class="input-group">
					<input type="checkbox" ng-model="snSiteFieldExt.mlt"
						ng-true-value="1" ng-false-value="0">
				</div>

			</div>
		</div>
		<div class="row"
			style="margin: 0px; padding: 10px; padding-bottom: 0px">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
				style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
				{{'ENABLED' | translate }}</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">
				<div class="input-group">
					<input type="checkbox" ng-model="snSiteFieldExt.enabled"
						ng-true-value="1" ng-false-value="0">
				</div>

			</div>
		</div>
		<div class="row"
			style="margin: 0px; padding: 10px; padding-bottom: 0px">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
				style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
				{{'REQUIRED' | translate }}</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">
				<div class="input-group">
					<input type="checkbox" ng-model="snSiteFieldExt.required"
						ng-true-value="1" ng-false-value="0">
				</div>

			</div>
		</div>
		<div class="row"
			style="margin: 0px; padding: 10px; padding-bottom: 0px">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
				style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
				{{'DEFAULT_VALUE' | translate }}</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">

				<input ng-model="snSiteFieldExt.defaultValue"
					type="text" class="form-control">
			</div>
		</div>
		<div class="row"
			style="margin: 0px; padding: 10px; padding-bottom: 0px">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
				style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
				{{'NLP' | translate }}</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">
				<div class="input-group">
					<input type="checkbox" ng-model="snSiteFieldExt.nlp"
						ng-true-value="1" ng-false-value="0">
				</div>

			</div>
		</div>
		<div style="padding: 10px;">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"
					style="padding: 0px; padding-top: 20px; padding-bottom: 20px;">
					<div class="btn-group">
						<button ng-click="snSiteFieldExtUpdate()" type="button"
							class="btn btn-viglet">{{'SETTINGS_SAVE_CHANGES' |
							translate }}</button>
						<button type="button" class="btn btn-viglet dropdown-toggle"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="caret"></span> <span class="sr-only">Toggle
								Dropdown</span>
						</button>
						<ul class="dropdown-menu">
							<li><a ng-click="snSiteFieldExtDelete()">{{'DELETE' |
									translate }}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>