<md-toolbar>
    <div layout="row">
        <h2 class="md-toolbar-tools">           
            <div style="margin: 0px 10px;width: 40px;height: 40px;padding-top: 6px;padding-left: 5px;font-size: 18px;font-weight: bolder;border-width: 1px;border-style: solid">
                <div style="margin-top: 8px;">
                    Tu
                </div>
            </div>
            <span>Turing Search</span>
        </h2>
    </div>

</md-toolbar>
<md-list>
    <md-list-item class="md-3-line">
        <div class="md-list-item-text">
            <h3>NLP</h3>
        </div>
        <md-button class="md-secondary">></md-button>
        <md-divider></md-divider>
    </md-list-item>
    <md-list-item class="md-3-line">
        <div class="md-list-item-text">
            <h3>Search</h3>
        </div>
        <md-button class="md-secondary">></md-button>
        <md-divider></md-divider>
    </md-list-item>
    <md-list-item class="md-3-line">
        <div class="md-list-item-text">
            <h3>Semantic Navigation</h3>
        </div>
        <md-button class="md-secondary">></md-button>
        <md-divider></md-divider>
    </md-list-item>
</md-list>