<div ng-controller="MLDataGroupItemCtrl"
	class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">	
	<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
		<div
			class="demo-options mdl-card mdl-card--expand  mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop"
			style="width: 100%;">
			<div class="mdl-card__supporting-text mdl-card--expand"
				style="width: 100%;">
				<div
					class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
					<div
						class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
						style="width: calc(100% - 20px)">
						<input class="mdl-textfield__input" type="text" id="title"
							style="font-size: 40px" value="{{vigDataGroup.datagroup.name}}">
						<label class="mdl-textfield__label" for="title">Name</label>
					</div>
				</div>
				<div
					class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
					<div
						class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
						style="width: calc(100% - 20px);">
						<input class="mdl-textfield__input" type="text" id="description"
							value="{{vigDataGroup.datagroup.description}}"> <label
							class="mdl-textfield__label" for="description">Description</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
		<div
			class="demo-options mdl-card mdl-card--expand  mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
			<div class="mdl-card__supporting-text mdl-card--expand ">
				<h3>Categories</h3>
				<ul>
					<li ng-repeat="vigCategory in vigDataGroup.category"><label
						class="mdl-radio mdl-js-radio mdl-js-ripple-effect"
						for="{{vigCategory.id}}"> <input type="radio"
							id="{{vigCategory.id}}" class="mdl-radio__button" name="options"
							value="{{vigCategory.id}}"> <span
							class="mdl-radio__label">{{vigCategory.name}} <a
								ng-href="#category/{{vigCategory.id}}" target="_blank"><i
									class="material-icons" style="font-size: 15px;">launch</i></a></span>
					</label></li>
				</ul>
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<a href="#category/create"
					class="mdl-button mdl-js-button mdl-js-ripple-effect ">New
					Category</a>
			</div>
		</div>
	</div>
	<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
		<div
			class="demo-options mdl-card mdl-card--expand  mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
			<div class="mdl-card__supporting-text mdl-card--expand ">
				<h3>Data</h3>
				<ul>
					<li ng-repeat="vigData in vigDataGroup.data"><label
						class="mdl-radio mdl-js-radio mdl-js-ripple-effect"
						for="{{vigData.id}}"> <input type="radio"
							id="{{vigData.id}}" class="mdl-radio__button" name="options"
							value="{{vigData.id}}"> <span class="mdl-radio__label">{{vigData.name}}
								<a ng-href="#data/{{vigData.id}}" target="_blank"><i
									class="material-icons" style="font-size: 15px;">launch</i></a>
						</span>
					</label></li>
				</ul>
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<a href="#data/create"
					class="mdl-button mdl-js-button mdl-js-ripple-effect ">New Data</a>
			</div>
		</div>
	</div>
</div>