<nav *ngIf="(user | async) as userItem" class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Administration Console</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#">NLP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Search Engine</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Semantic Navigation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">API Token</a>
      </li>
    </ul>
    <button   class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
             data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <svg width="20" height="20" style="border-radius: 50%;" [identiconHash]="userItem.username | lowercase">
        Avatar
      </svg>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <svg width="32" height="32" style="border-radius: 50%;" [identiconHash]="userItem.username | lowercase">
          Avatar
        </svg>
        <div>Signed in as <strong>{{userItem.username}}</strong>
          <span style="width: 100%;white-space: nowrap;display: block" class="color-fg-subtle">
              {{userItem.firstName}} {{userItem.lastName}}</span>
        </div>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/adm/user']">Admin Console</a>
          </li>
          <li class="nav-item">
            <form id="logout_form" action="/logout" method="post">
              <a class="nav-link"  style="cursor:pointer"
                 onclick="localStorage.removeItem('restInfo');localStorage.removeItem('user');document.getElementById('logout_form').submit(); return false;">Sign
                out</a>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="Header py-lg-0 Details flex-wrap flex-lg-nowrap px-3">
  <div class="Header-item" style="padding: 6px 0px">
    <a [routerLink]="['/']" routerLinkActive="active" class="Header-link d-flex flex-items-center ">
      <tur-logo [size]=30 style="padding-top: 5px;"></tur-logo>
    </a>
  </div>
  <div class="Header-item Header-item--full">
    Administration Console
  </div>
  <div class="Header-item position-relative d-none d-lg-flex">
    <details class="details-overlay details-reset">
      <summary class="Header-link" aria-label="Create new…" data-ga-click="Header, create new, icon:add"
               aria-haspopup="menu" role="button" style="outline:none;">
        <span octicon="plus" [size]=16 class="mr-1"></span>
        <span class="dropdown-caret"></span>
      </summary>
      <div class="dropdown-menu dropdown-menu-sw mt-n2" role="menu">


        <a [routerLink]="['/nlp/instance/new']" role="menuitem" class="dropdown-item" href>New NLP instance</a>
        <a [routerLink]="['/nlp/entity/new']" role="menuitem" class="dropdown-item" href>New NLP entity</a>
        <div role="none" class="dropdown-divider"></div>
        <a [routerLink]="['/se/instance/new']" role="menuitem" class="dropdown-item" href>New search engine</a>
        <div role="none" class="dropdown-divider"></div>
        <a [routerLink]="['/sn/site/new']" role="menuitem" class="dropdown-item" href>New SN site</a>
      </div>
    </details>

  </div>
  <div class="Header-item position-relative mr-0 d-none d-lg-flex">
    <details *ngIf="(user | async) as userItem" class="details-overlay details-reset">
      <summary class="Header-link" aria-haspopup="menu" role="button" style="outline:none;">
        <div class="float-left" style="padding-top: 7px;margin-right: 7px;">
          <div style="background-color: whitesmoke;width: 20px;height: 20px;border-radius: 50%;">
            <svg width="20" height="20" style="border-radius: 50%;" [identiconHash]="userItem.username | lowercase">
              Avatar
            </svg>
          </div>
        </div>
        <div class="dropdown-caret" style="margin-top: 17px;padding-bottom: 10px;padding-top: 1px;"></div>
      </summary>
      <ul class="dropdown-menu dropdown-menu-sw" style="margin-right: 8px;width:320px">
        <li>
          <div class="dropdown-item">Signed in as <strong>{{userItem.username}}</strong>
            <span style="width: 100%;white-space: nowrap;display: block" class="color-fg-subtle">
              {{userItem.firstName}} {{userItem.lastName}}</span>
          </div>
        </li>
        <li class="dropdown-divider" role="separator"></li>
        <li>
          <a class="dropdown-item" [routerLink]="['/adm/user']">Admin Console</a>
        </li>
        <li class="dropdown-divider" role="separator"></li>
        <li>
          <form id="logout_form" action="/logout" method="post">
            <a class="dropdown-item" style="cursor:pointer"
               onclick="localStorage.removeItem('restInfo');localStorage.removeItem('user');document.getElementById('logout_form').submit(); return false;">Sign
              out</a>
          </form>
        </li>
      </ul>
    </details>
  </div>
</div>
