<div class="panel panel-default"
	style='font-family: "Raleway", sans-serif; font-weight: 400; min-height: 175px; width: 544px; margin-bottom: 0px; padding-bottom: 0px;'>
	<div class="panel-title"
		style="padding: 10px; border-bottom-color: rgb(217, 217, 217); border-bottom-style: solid; border-bottom-width: thin;">
		<p style="font-size: 18px; color: #FF874B; margin: 0px;">Entity
			Import</p>
		<p style="font-size: 14px; color: rgb(182, 182, 182); margin: 0px;">Import
			an Entity XML File.</p>
	</div>
	<div class="panel-body" style="padding: 0px;">
		<div class="row"
			style="margin: 0px; padding: 30px; padding-bottom: 0px">
			<form class="form-inline" action="/turing/api/otca/af/import"
				method="post" enctype="multipart/form-data">
				<div class="form-group">
					<input type="text" maxlength="50" disabled
						style="width: 210px; font-size: 12px; padding-left: 5px"
						class="form-control" id="upload-file-info"> <label
						class="btn btn-viglet" for="file"> <input
						name="file" id="file" type="file" style="display: none"
						onchange="$('#upload-file-info').val(this.files[0].name)">
						Upload
					</label>
					<button type="submit" ng-click="userSave()" class="btn btn-viglet">Import</button>
				</div>
			</form>
		</div>
	</div>
</div>
