<div class="panel panel-default"
	style='font-family: "Raleway", sans-serif; font-weight: 400; margin-bottom: 0px; padding-bottom: 0px;'>
	<div class="panel-title"
		style="padding: 10px; border-bottom-color: rgb(217, 217, 217); border-bottom-style: solid; border-bottom-width: thin;">
		<div class="pull-right"></div>
		<p style="font-size: 18px; color: #FF874B; margin: 0px;">Edit
			Sentence</p>
	</div>
	<div class="panel-body" style="padding: 0px;">
		<div ui-view>
			<div class="row"
				style="margin: 0px; padding: 10px; padding-bottom: 0px">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
					style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
					{{'SENTENCE' | translate }}</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"
					style="padding: 0px">
					<textarea ng-model="sentence.sentence" class="form-control"
						style="font-size: 12px; padding-left: 5px"></textarea>

				</div>
			</div>
			<div class="row"
				style="margin: 0px; padding: 10px; padding-bottom: 0px">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
					style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
					{{'CATEGORY' | translate }}</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"
					style="padding: 0px">
					<select class="form-control"
						ng-model="sentence.turMLCategory">
						<option ng-repeat="category in dataGroup.turDataGroupCategories"
							ng-value="category.turMLCategory.id">{{category.turMLCategory.name}}</option>
						<option value="">- Pick One -</option>
					</select>

				</div>
			</div>
			<div style="padding: 10px;">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"
						style="padding: 0px; padding-top: 20px; padding-bottom: 20px;">

						<div class="btn-group">
							<button ng-click="mlSentenceUpdate()" type="button"
								class="btn btn-viglet">{{'SETTINGS_SAVE_CHANGES' |
								translate }}</button>
							<button type="button" class="btn btn-viglet dropdown-toggle"
								data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								<span class="caret"></span> <span class="sr-only">Toggle
									Dropdown</span>
							</button>
							<ul class="dropdown-menu">
								<li><a ng-click="mlSentenceDelete()">Delete</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
