
<div class="modal-header">
	<h3 class="modal-title" id="modal-title">New Category</h3>
</div>
<div class="modal-body">
	<div class="row"
		style="margin: 0px; padding: 10px; padding-bottom: 0px">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
			style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
			{{'NAME' | translate }}</div>
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">
			<input ng-model="$ctrl.category.name" maxlength="50" class="form-control"
				style="width: 210px; font-size: 12px; padding-left: 5px">

		</div>
	</div>
	<div class="row"
		style="margin: 0px; padding: 10px; padding-bottom: 0px">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"
			style="text-align: right; padding: 0px; padding-right: 20px; padding-top: 5px; font-size: 14px; color: rgb(51, 51, 51)">
			{{'DESCRIPTION' | translate }}</div>
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0px">

			<input maxlength="50" ng-model="$ctrl.category.description" type="text"
				class="form-control"
				style="width: 210px; font-size: 12px; padding-left: 5px">
		</div>
	</div>
</div>
<div class="modal-footer">

	<button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
		<button class="btn btn-viglet" type="button" ng-click="$ctrl.ok()">{{'SETTINGS_SAVE_CHANGES'
		| translate }}</button>
</div>