<div *ngIf="(getTurAdmGroup() | async) as admGroup; else loading">
  <div class="Subhead mt-4 mb-3">
    <div class="Subhead-heading Subhead-heading--large">
      <div *ngIf="!isNewObject()" class="d-flex">
        <div style="background-color: whitesmoke; height: 35px; border-radius: 50%;">
          <svg width="35" height="35" style="border-radius: 50%;" [identiconHash]="admGroup.name | lowercase">
          </svg>
        </div>
        <div class="ml-2">
          <span>{{admGroup.name}}</span>
        </div>
      </div>
      <div *ngIf="isNewObject()" class="d-flex">
        <div style="background-color: whitesmoke; height: 35px; border-radius: 50%;">
          <svg width="35" height="35" style="border-radius: 50%;" [identiconHash]="'new'">
          </svg>
        </div>
        <div class="ml-2">
          <span>New Group</span>
        </div>
      </div>
    </div>
    <div class="Subhead-actions">
      <details *ngIf="!isNewObject()" #modalDelete id="modalDelete"
        class="details-reset details-overlay details-overlay-dark" style="display: unset;">
        <summary class="btn btn-sm btn-danger mr-1" aria-haspopup="dialog"><span octicon="trash" [size]=16
            class="mr-1"></span>Delete</summary>
        <details-dialog class="Box Box--overlay d-flex flex-column anim-fade-in fast">
          <div class="Box-header">
            <button onclick='document.getElementById("modalDelete").removeAttribute("open");'
              class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
              <svg class="octicon octicon-x" viewBox="0 0 12 16" version="1.1" width="12" height="16"
                aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z">
                </path>
              </svg>
            </button>
            <h3 class="Box-title">Are you absolutely sure?</h3>

          </div>
          <div class="flash flash-warn flash-full">
            Unexpected bad things will happen if you don’t read this!
          </div>

          <div class="Box-body overflow-auto">
            <p>
              This action <strong>cannot</strong> be undone. This will permanently delete the
              <strong>{{admGroup.name}}</strong> group.
            </p>
            <button (click)="delete(admGroup)" class="btn-danger btn btn-block">
              <span class="d-md-inline-block d-none">I understand the consequences, delete this instance</span>
            </button>
          </div>
        </details-dialog>
      </details>

      <button (click)="save(admGroup)" type="button" class="btn btn-sm btn-primary">{{saveButtonCaption()}}</button>
    </div>
    <div *ngIf="!isNewObject()" class="Subhead-description">{{admGroup.description}}</div>
  </div>
  <div class="tabnav">
    <nav class="tabnav-tabs" aria-label="Foo bar">
      <a class="tabnav-tab" [routerLink]="['detail']" [routerLinkActive]="['selected']">Details</a>
      <a class="tabnav-tab" [routerLink]="['users']" [routerLinkActive]="['selected']">Associated Users</a>
    </nav>
  </div>
  <router-outlet>
  </router-outlet>
</div>
<ng-template #loading>
  <span>Loading</span><span class="AnimatedEllipsis"></span>
</ng-template>
