<div id="col-left" class="float-left" style="width: 280px;padding-right: 15px;">
  <nav class="menu" aria-label="Site settings">
    <a class="menu-item" href="#url" aria-current="page">Instances</a>
    <a class="menu-item" href="#url">Entities</a>
    <a class="menu-item" href="#url">NLP Validation</a>
  </nav>
</div>
<div id="col-right" class="float-right" style="width: calc(100% - 300px);">
  <div style="margin-top: 20px;">
    <div style="padding-bottom: 15px;">
      <div class="Subhead" style="padding-bottom: 20px;">
        <div style="flex: 1 1 auto;">
          <input class="form-control" style="width: 50%;" type="text" placeholder="Find a NLP Instance..."
            aria-label="Find a NLP Instance" />
       </div>
        <div class="Subhead-actions">
          <button class="btn mr-2" role="button">
            <span octicon="upload" size="16" class="mr-1"></span> Import
          </button> <button class="btn btn-primary" role="button">
            <span octicon="package" size="16" class="mr-1"></span> New
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="(getTurNLPInstances() | async) as nlpInstances; else loading">
    <div *ngFor="let nlpInstance of nlpInstances" class="border-bottom d-flex flex-items-center"
      style="margin-bottom: 20px;padding-bottom: 10px;">
      <div class="flex-auto">
        <div style="background-color: whitesmoke;width: 24px;height: 24px;margin-right: 7px;border-radius: 50%;"
          class="float-left">
          <svg width="24" height="24" style="border-radius: 50%;" [identiconHash]="nlpInstance.title | lowercase">
            Avatar
          </svg>
        </div><a [routerLink]="['/content/object/list', nlpInstance.id]" routerLinkActive="active"
          style="font-weight: bolder; font-size: large;">
          {{nlpInstance.title}} </a>
        <div class="text-gray-light" style="margin-top: 5px;">
          {{nlpInstance.description}}
        </div>
        <div style="margin-top: 5px;">
          <span title="Label: green outline label" class="Label Label--outline Label--outline-green">Actived</span>

        </div>
        <div class="text-gray-light d-flex flex-items-center" style="margin-top: 10px;">
          <div class="mr-3">
            <span
              style="position: relative;top: 1px;display: inline-block;width: 12px;height: 12px;border-radius: 50%;background-color: #2b7489;"></span>
            <span class="ml-1">NLP</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <span>Loading</span><span class="AnimatedEllipsis"></span>
</ng-template>
