<div id="col-left" class="float-left" style="width: 280px;padding-right: 15px;">
  <nav class="menu" aria-label="Site settings">
    <a class="menu-item" [routerLink]="['/console/nlp/instance']" [routerLinkActive]="['selected']">Instances</a>
    <a class="menu-item" [routerLink]="['/console/nlp/entity']" [routerLinkActive]="['selected']">Entities</a>
    <a class="menu-item" [routerLink]="['/console/nlp/validation']" [routerLinkActive]="['selected']">NLP Validation</a>
  </nav>
</div>
<div id="col-right" class="float-right" style="width: calc(100% - 300px);">
  <router-outlet>
  </router-outlet>
</div>
