/* node_modules/@primer/css */
@import "node_modules/@primer/css";
/* node_modules/@primer/octicons */
@import "node_modules/@primer/octicons";
/* node_modules/angular-notifier/styles */
@import "node_modules/angular-notifier/styles";
/* node_modules/ngx-smart-modal/ngx-smart-modal */
@import "node_modules/ngx-smart-modal/styles/ngx-smart-modal";

//@import "https://unpkg.com/@github/details-dialog-element/dist/index.css"
details-dialog {
  position: fixed;
  margin: 10vh auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  max-height: 80vh;
  max-width: 90vw;
  width: 448px;
  overflow: auto;
}
