<div *ngIf="(getTurSNSiteField() | async) as snSiteField; else loading">

  <div class="Subhead">
    <div class="Subhead-heading">Semantic Navigation Site Field</div>
    <button (click)="saveSiteField(snSiteField)" type="button" class="btn btn-primary">Save</button>
  </div>
  <div class="form-group">
    <div class="form-group-header">
      <label for="sn-name">Name</label>
    </div>
    <div class="form-group-body">
      <input [(ngModel)]="snSiteField.name" class="form-control" type="text" id="sn-name" style="width: 100%;" />
      <p class="note" id="help-text-for-checkbox">
        Name will appear on semantic navigation site list.
      </p>
    </div>
  </div>
  <div class="form-group">
    <div class="form-group-header">
      <label for="sn-name">Description</label>
    </div>
    <div class="form-group-body">
      <input [(ngModel)]="snSiteField.description" class="form-control" type="text" id="sn-name" style="width: 100%;" />
      <p class="note" id="help-text-for-checkbox">
        Name will appear on semantic navigation site list.
      </p>
    </div>
  </div>
  <div class="form-group">
    <div class="form-group-header">
      <label for="sn-name">Type</label>
    </div>
    <div class="form-group-body">
      <input [(ngModel)]="snSiteField.type" class="form-control" type="text" id="sn-name" style="width: 100%;" />
      <p class="note" id="help-text-for-checkbox">
        Name will appear on semantic navigation site list.
      </p>
    </div>
  </div>
  <div class="form-checkbox">
    <label>
      <input [(ngModel)]="snSiteField.multiValued" type="checkbox" [ngModelOptions]="{standalone: true}"
        (ngModelChange)="snSiteField.multiValued = $event ? 1 : 0" aria-describedby="sn-multiValued-tip" />
      Multi Value
    </label>
    <p class="note" id="sn-multiValued-tip">
      Use thesaurus to detect terms.
    </p>
  </div>
  <div class="form-checkbox">
    <label>
      <input [(ngModel)]="snSiteField.facet" type="checkbox" [ngModelOptions]="{standalone: true}"
        (ngModelChange)="snSiteField.facet = $event ? 1 : 0" aria-describedby="sn-facet-tip" />
      Facet
    </label>
    <p class="note" id="sn-facet-tip">
      Use thesaurus to detect terms.
    </p>
  </div>
  <div class="form-group">
    <div class="form-group-header">
      <label for="sn-facetName">Facet Name</label>
    </div>
    <div class="form-group-body">
      <input [(ngModel)]="snSiteField.facetName" class="form-control" type="text" id="sn-facetName" style="width: 100%;" />
      <p class="note" id="help-text-for-checkbox">
        Name will appear on semantic navigation site list.
      </p>
    </div>
  </div>
  <div class="form-checkbox">
    <label>
      <input [(ngModel)]="snSiteField.hl" type="checkbox" [ngModelOptions]="{standalone: true}"
        (ngModelChange)="snSiteField.hl = $event ? 1 : 0" aria-describedby="sn-hl-tip" />
        Highlighting
    </label>
    <p class="note" id="sn-hl-tip">
      Use thesaurus to detect terms.
    </p>
  </div>
  <div class="form-checkbox">
    <label>
      <input [(ngModel)]="snSiteField.mlt" type="checkbox" [ngModelOptions]="{standalone: true}"
        (ngModelChange)="snSiteField.mlt = $event ? 1 : 0" aria-describedby="sn-mlt-tip" />
        MLT
    </label>
    <p class="note" id="sn-mlt-tip">
      Use thesaurus to detect terms.
    </p>
  </div>
  <div class="form-checkbox">
    <label>
      <input [(ngModel)]="snSiteField.enabled" type="checkbox" [ngModelOptions]="{standalone: true}"
        (ngModelChange)="snSiteField.enabled = $event ? 1 : 0" aria-describedby="sn-enabled-tip" />
        Enabled
    </label>
    <p class="note" id="sn-enabled-tip">
      Use thesaurus to detect terms.
    </p>
  </div>
  <div class="form-checkbox">
    <label>
      <input [(ngModel)]="snSiteField.required" type="checkbox" [ngModelOptions]="{standalone: true}"
        (ngModelChange)="snSiteField.required = $event ? 1 : 0" aria-describedby="sn-required-tip" />
        Required
    </label>
    <p class="note" id="sn-required-tip">
      Use thesaurus to detect terms.
    </p>
  </div>
  <div class="form-checkbox">
    <label>
      <input [(ngModel)]="snSiteField.nlp" type="checkbox" [ngModelOptions]="{standalone: true}"
        (ngModelChange)="snSiteField.nlp = $event ? 1 : 0" aria-describedby="sn-nlp-tip" />
        NLP
    </label>
    <p class="note" id="sn-nlp-tip">
      Use thesaurus to detect terms.
    </p>
  </div>
  <div class="form-group">
    <div class="form-group-header">
      <label for="sn-name">Default Value</label>
    </div>
    <div class="form-group-body">
      <input [(ngModel)]="snSiteField.defaultValue" class="form-control" type="text" id="sn-defaultValue" style="width: 100%;" />
      <p class="note" id="help-text-for-checkbox">
        Name will appear on semantic navigation site list.
      </p>
    </div>
  </div>
</div>
<ng-template #loading>
  <span>Loading</span><span class="AnimatedEllipsis"></span>
</ng-template>
