<div *ngIf="(getTurSEInstances() | async) as seInstances; else loading">
  <div *ngIf="seInstances.length < 1" class="blankslate">
    <span octicon="codescan" [size]=48 class="mb-3"></span>
    <h3 class="mb-1">You don’t seem to have any search engine instance.</h3>
    <p>Create a new instance and use it in semantic navigation and chatbot.</p>
    <a [routerLink]="['/se/instance/new']" class="btn btn-primary my-3" type="button">New search engine
      instance</a>
    <p><button class="btn-link" type="button">Import from zip file</button></p>
  </div>

  <div *ngIf="seInstances.length >= 1">
    <div style="margin-top: 20px;">
      <div style="padding-bottom: 15px;">
        <div class="Subhead" style="padding-bottom: 20px;">
          <div style="flex: 1 1 auto;">
            <input class="form-control" style="width: 50%;" type="text" placeholder="Find a search engine instance..."
              aria-label="Find a search engine instance" />
          </div>
          <div class="Subhead-actions">
            <button class="btn mr-2" role="button">
              <span octicon="upload" [size]=16 class="mr-1"></span> Import
            </button> <a [routerLink]="['/se/instance/new']" class="btn btn-primary" role="button">
              <span octicon="package" [size]=16 class="mr-1"></span> New
            </a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div *ngFor="let seInstance of seInstances" class="border-bottom d-flex flex-items-center"
        style="margin-bottom: 20px;padding-bottom: 10px;">
        <div class="flex-auto">
          <div style="background-color: whitesmoke;width: 24px;height: 24px;margin-right: 7px;border-radius: 50%;"
            class="float-left">
            <svg width="24" height="24" style="border-radius: 50%;" [identiconHash]="seInstance.title | lowercase">
              Avatar
            </svg>
          </div><a [routerLink]="['/se/instance', seInstance.id]" routerLinkActive="active"
            style="font-weight: bolder; font-size: large;">
            {{seInstance.title}} </a>
          <div class="text-gray-light" style="margin-top: 5px;">
            {{seInstance.description}}
          </div>
          <div style="margin-top: 5px;">
            <span title="Label: green outline label" class="Label Label--outline Label--outline-green">Actived</span>

          </div>
          <div class="text-gray-light d-flex flex-items-center" style="margin-top: 10px;">
            <div class="mr-3">
              <span
                style="position: relative;top: 1px;display: inline-block;width: 12px;height: 12px;border-radius: 50%;background-color: #2b7489;"></span>
              <span class="ml-1">SE</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <span>Loading</span><span class="AnimatedEllipsis"></span>
</ng-template>
