
<div
	class="demo-cards mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid ">
	<div
		class="demo-nlp mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--3-col-desktop">
		<div class="mdl-card__title mdl-card--expand mdl-color--deep-orange-300">
			<h2 class="mdl-card__title-text">NLP</h2>
		</div>
		<div class="mdl-card__supporting-text mdl-color-text--grey-600">
			Está utilizando o CoreNLP.</div>
		<div class="mdl-card__actions mdl-card--border">
			<a href="#nlp" class="mdl-button mdl-js-button mdl-js-ripple-effect">Configurações</a>
		</div>
	</div>

	<div
		class="demo-machine-learning mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--3-col-desktop">
		<div class="mdl-card__title mdl-card--expand mdl-color--deep-orange-300">
			<h2 class="mdl-card__title-text">Machine Learning</h2>
		</div>
		<div class="mdl-card__supporting-text mdl-color-text--grey-600">
			Está utilizando o TensorFlow.</div>
		<div class="mdl-card__actions mdl-card--border">
			<a href="#ml" class="mdl-button mdl-js-button mdl-js-ripple-effect">Configurações</a>
		</div>
	</div>
	<div
		class="demo-search-engine mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--3-col-desktop">
		<div class="mdl-card__title mdl-card--expand mdl-color--deep-orange-300">
			<h2 class="mdl-card__title-text">Search Engine</h2>
		</div>
		<div class="mdl-card__supporting-text mdl-color-text--grey-600">
			Está utilizando o Solr.</div>
		<div class="mdl-card__actions mdl-card--border">
			<a href="#search-engine"
				class="mdl-button mdl-js-button mdl-js-ripple-effect">Configurações</a>
		</div>
	</div>
	<div
		class="demo-database mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--3-col-desktop">
		<div class="mdl-card__title mdl-card--expand mdl-color--deep-orange-300">
			<h2 class="mdl-card__title-text">Database</h2>
		</div>
		<div class="mdl-card__supporting-text mdl-color-text--grey-600">
			Está utilizando o MySQL.</div>
		<div class="mdl-card__actions mdl-card--border">
			<a href="#database"
				class="mdl-button mdl-js-button mdl-js-ripple-effect">Configurações</a>
		</div>
	</div>
</div>


<div
	class="demo-cards mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid ">
	<div
		class="demo-entity mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--3-col-desktop">
		<div
			class="mdl-card__title mdl-card--expand mdl-color--light-blue-300">
			<h2 class="mdl-card__title-text">Entity</h2>
		</div>
		<div class="mdl-card__supporting-text mdl-color-text--grey-600">
			Cadastre Entidades para serem usadas no NLP.</div>
		<div class="mdl-card__actions mdl-card--border">
			<a href="#entity" class="mdl-button mdl-js-button mdl-js-ripple-effect">Editar</a>
		</div>
	</div>

	<div
		class="demo-models mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--3-col-desktop">
		<div
			class="mdl-card__title mdl-card--expand mdl-color--light-blue-300">
			<h2 class="mdl-card__title-text">Models</h2>
		</div>
		<div class="mdl-card__supporting-text mdl-color-text--grey-600">
			Ajude-nos a criar melhores modelos.</div>
		<div class="mdl-card__actions mdl-card--border">
			<a href="#model" class="mdl-button mdl-js-button mdl-js-ripple-effect">Modele</a>
		</div>
	</div>
	<div
		class="demo-training mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--3-col-desktop">
		<div
			class="mdl-card__title mdl-card--expand mdl-color--light-blue-300">
			<h2 class="mdl-card__title-text">Data Group</h2>
		</div>
		<div class="mdl-card__supporting-text mdl-color-text--grey-600">
			Treine o NLP ou o Machine Learning com Grupo de Dados</div>
		<div class="mdl-card__actions mdl-card--border">
			<a href="#data/group" class="mdl-button mdl-js-button mdl-js-ripple-effect">Treine</a>
		</div>
	</div>
	<div
		class="demo-rules mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--3-col-desktop">
		<div
			class="mdl-card__title mdl-card--expand mdl-color--light-blue-300">
			<h2 class="mdl-card__title-text">Rules</h2>
		</div>
		<div class="mdl-card__supporting-text mdl-color-text--grey-600">
			Crie Regras para o NLP ou o Machine Learning.</div>
		<div class="mdl-card__actions mdl-card--border">
			<a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Crie</a>
		</div>
	</div>
</div>

<div
	class="demo-cards mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid ">
	<div
		class="demo-indexing mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--3-col-desktop">
		<div class="mdl-card__title mdl-card--expand mdl-color--lime-300">
			<h2 class="mdl-card__title-text">Indexing</h2>
		</div>
		<div class="mdl-card__supporting-text mdl-color-text--grey-600">
			Indexe os seus conteúdos usando o NLP.</div>
		<div class="mdl-card__actions mdl-card--border">
			<a href="#indexing" class="mdl-button mdl-js-button mdl-js-ripple-effect">Integre</a>
		</div>
	</div>

	<div
		class="demo-oauth2 mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--3-col-desktop">
		<div class="mdl-card__title mdl-card--expand mdl-color--lime-300">
			<h2 class="mdl-card__title-text">OAuth2</h2>
		</div>
		<div class="mdl-card__supporting-text mdl-color-text--grey-600">
			Permita que outras aplicações utilizem os nossos recursos.</div>
		<div class="mdl-card__actions mdl-card--border">
			<a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Registre</a>
		</div>
	</div>
	<div
		class="demo-plugins mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--3-col-desktop">
		<div class="mdl-card__title mdl-card--expand mdl-color--lime-300">
			<h2 class="mdl-card__title-text">Plugins</h2>
		</div>
		<div class="mdl-card__supporting-text mdl-color-text--grey-600">
			Adicione novas funcionalidades à Plataforma.</div>
		<div class="mdl-card__actions mdl-card--border">
			<a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Configure</a>
		</div>
	</div>
	<div
		class="demo-users mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--3-col-desktop">
		<div class="mdl-card__title mdl-card--expand mdl-color--lime-300">
			<h2 class="mdl-card__title-text">Users</h2>
		</div>
		<div class="mdl-card__supporting-text mdl-color-text--grey-600">
			Usuários e permissões na Plataforma.</div>
		<div class="mdl-card__actions mdl-card--border">
			<a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Edite</a>
		</div>
	</div>
</div>