<div class="mdl-cell mdl-cell--7-col mdl-cell--8-col-tablet mdl-grid">
    <div class="demo-options mdl-card mdl-card--expand  mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
        <div class="mdl-card__supporting-text mdl-card--expand ">
            <h3>Machine Learning</h3>
            <ul>
                   <li>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
  <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked>
  <span class="mdl-radio__label">Apache Mahout (<a href="https://mahout.apache.org" target="_blank">https://mahout.apache.org</a>)</span>
                     </label>
                </li>
                <li>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
  <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="1" checked>
  <span class="mdl-radio__label">IBM Watson (<a href="http://www.ibm.com/watson" target="_blank">http://www.ibm.com/watson</a>)</span>
                     </label>
                </li>
                <li>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
  <input type="radio" id="option-3" class="mdl-radio__button" name="options" value="1" checked>
  <span class="mdl-radio__label">Google TensorFlow (<a href="https://www.tensorflow.org" target="_blank">https://www.tensorflow.org</a>)</span>
                     </label>
                </li>
                <li>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
  <input type="radio" id="option-4" class="mdl-radio__button" name="options" value="1" checked>
  <span class="mdl-radio__label">Microsoft CNTK (<a href="https://github.com/Microsoft/CNTK" target="_blank">https://github.com/Microsoft/CNTK</a>)</span>
                     </label>
                </li>
                <li>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-5">
  <input type="radio" id="option-5" class="mdl-radio__button" name="options" value="1" checked>
  <span class="mdl-radio__label">SalesForce PredictionIO (<a href="https://prediction.io" target="_blank">https://prediction.io</a>)</span>
                     </label>
                </li>
                  <li>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-6">
  <input type="radio" id="option-6" class="mdl-radio__button" name="options" value="1" checked>
  <span class="mdl-radio__label">scikit-learn (<a href="http://scikit-learn.org" target="_blank">http://scikit-learn.org</a>)</span>
                     </label>
                </li>
                 <li>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-7">
  <input type="radio" id="option-7" class="mdl-radio__button" name="options" value="1" checked>
  <span class="mdl-radio__label">Shogun (<a href="http://www.shogun-toolbox.org" target="_blank">http://www.shogun-toolbox.org</a>)</span>
                     </label>
                </li>
             
                  <li>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-8">
  <input type="radio" id="option-8" class="mdl-radio__button" name="options" value="1" checked>
  <span class="mdl-radio__label">Weka (<a href="http://www.cs.waikato.ac.nz/ml/weka" target="_blank">http://www.cs.waikato.ac.nz/ml/weka</a>)</span>
                     </label>
                </li>
            </ul>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-card--expand">Ativar NLP</a>
            <div class="mdl-layout-spacer"></div>
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
  <input type="checkbox" id="switch-1" class="mdl-switch__input" checked>
  </label>
        </div>
    </div>
</div>
<div class="mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet mdl-grid">
    <div class="demo-options mdl-card mdl-card--expand mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
        <div class="mdl-card__supporting-text mdl-card--expand ">
            <h3>Service</h3>
            <form action="#">

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="sample3">
                    <label class="mdl-textfield__label" for="sample3">Host</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
                    <label class="mdl-textfield__label" for="sample4">Port</label>
                    <span class="mdl-textfield__error">Input is not a number!</span>
                </div>

            </form>
        </div>
    </div>
    <div class="demo-options mdl-card mdl-card--expand mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
        <div class="mdl-card__supporting-text mdl-card--expand">
            <h3>Authorization</h3>
            <form action="#">

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="sample4">
                    <label class="mdl-textfield__label" for="sample4">Username</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" id="sample5">
                    <label class="mdl-textfield__label" for="sample5">Password</label>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-grid">
    <div class="demo-options mdl-card  mdl-cell mdl-cell--12-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
        <div class="mdl-card__supporting-text ">
            <h3>Models</h3>
            <ul>
                <li>
                    <label for="chkbox1n" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox1n" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">People</span>
                    </label>
                </li>
                <li>
                    <label for="chkbox2n" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox2n" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">Organization</span>
                    </label>
                </li>
                <li>
                    <label for="chkbox3n" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox3n" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">Places</span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect ">Language</a>
            <div class="mdl-layout-spacer"></div>
            <div>
                pt_BR
            </div>
        </div>
    </div>
</div>
<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-grid">
    <div class="demo-options mdl-card  mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
        <div class="mdl-card__supporting-text ">
            <h3>Persistence</h3>
            <ul>
                <li>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1p">
  <input type="radio" id="option-1p" class="mdl-radio__button" name="options" value="1" checked>
  <span class="mdl-radio__label">Solr</span>
                     </label>
                </li>
                <li>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2p">
  <input type="radio" id="option-2p" class="mdl-radio__button" name="options" value="2">
  <span class="mdl-radio__label">MySQL</span>
                     </label>

                </li>

            </ul>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect ">Configurar</a>

        </div>
    </div>
</div>