<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
        <div class="demo-options mdl-card mdl-card--expand  mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop" style="width: 100%;">
            <div class="mdl-card__supporting-text mdl-card--expand" style="width: 100%;">     
                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop" >
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: calc(100% - 20px)">
                        <input class="mdl-textfield__input" type="text" id="title" style="font-size:40px" value="{{turNLPInstance.nlp.title}}">
                        <label class="mdl-textfield__label" for="title">Title</label>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: calc(100% - 20px);">
                        <input class="mdl-textfield__input" type="text" id="description" value="{{turNLPInstance.nlp.description}}">
                        <label class="mdl-textfield__label" for="description">Description</label>
                    </div>        
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--7-col mdl-cell--8-col-tablet mdl-grid">
        <div class="demo-options mdl-card mdl-card--expand  mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
            <div class="mdl-card__supporting-text mdl-card--expand ">
                <h3>NLP</h3>
                <ul>
                    <li ng-repeat="turNLPVendor in turNLPVendors">
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="{{turNLPVendor.id}}">
                            <input type="radio" id="{{turNLPVendor.id}}" class="mdl-radio__button" name="options" value="{{turNLPVendor.id}}" ng-checked="turNLPVendor.id === turNLPInstance.nlp.vendor"> <span class="mdl-radio__label">{{turNLPVendor.title}} <a ng-href="{{turNLPVendor.website}}" target="_blank"><i class="material-icons" style="font-size: 15px;">launch</i></a></span> </label>
                    </li>
                </ul>
            </div>
            <div class="mdl-card__actions mdl-card--border"> <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-card--expand">Ativar NLP</a>
                <div class="mdl-layout-spacer"></div>
                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
                    <input type="checkbox" id="switch-1" class="mdl-switch__input" checked> </label>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet mdl-grid">
        <div class="demo-options mdl-card mdl-card--expand mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
            <div class="mdl-card__supporting-text mdl-card--expand ">
                <h3>Service</h3>
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="sample3" value="{{turNLPInstance.nlp.host}}">
                        <label class="mdl-textfield__label" for="sample3">Host</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="sample4" value="{{turNLPInstance.nlp.port}}">
                        <label class="mdl-textfield__label" for="sample4">Port</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="demo-options mdl-card mdl-card--expand mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
            <div class="mdl-card__supporting-text mdl-card--expand">
                <h3>Authorization</h3>
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="sample4">
                        <label class="mdl-textfield__label" for="sample4">Username</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="password" id="sample5">
                        <label class="mdl-textfield__label" for="sample5">Password</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-grid">
        <div class="demo-options demo-options-purple mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
            <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
                <h3>Features</h3>
                <ul>
                    <li>
                        <label for="chkbox1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox1" class="mdl-checkbox__input"> <span class="mdl-checkbox__label">Tokenize / Segment</span> </label>
                    </li>
                    <li>
                        <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox2" class="mdl-checkbox__input"> <span class="mdl-checkbox__label">Sentence Split</span> </label>
                    </li>
                    <li>
                        <label for="chkbox3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox3" class="mdl-checkbox__input"> <span class="mdl-checkbox__label">Part of Speech</span> </label>
                    </li>
                    <li>
                        <label for="chkbox4" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox4" class="mdl-checkbox__input"> <span class="mdl-checkbox__label">Lemma</span> </label>
                    </li>
                    <li>
                        <label for="chkbox5" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox5" class="mdl-checkbox__input"> <span class="mdl-checkbox__label">Named Entities</span> </label>
                    </li>
                    <li>
                        <label for="chkbox6" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox6" class="mdl-checkbox__input"> <span class="mdl-checkbox__label">Constituency Parsing</span> </label>
                    </li>
                    <li>
                        <label for="chkbox7" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox7" class="mdl-checkbox__input"> <span class="mdl-checkbox__label">Dependency Parsing</span> </label>
                    </li>
                    <li>
                        <label for="chkbox8" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox9" class="mdl-checkbox__input"> <span class="mdl-checkbox__label">Sentiment Analysis</span> </label>
                    </li>
                    <li>
                        <label for="chkbox10" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox10" class="mdl-checkbox__input"> <span class="mdl-checkbox__label">Mention Detection</span> </label>
                    </li>
                    <li>
                        <label for="chkbox11" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox11" class="mdl-checkbox__input"> <span class="mdl-checkbox__label">Coreference</span> </label>
                    </li>
                    <li>
                        <label for="chkbox12" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox12" class="mdl-checkbox__input"> <span class="mdl-checkbox__label">Open IE</span> </label>
                    </li>
                </ul>
            </div>
            <div class="mdl-card__actions mdl-card--border"> <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">Language</a>
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-color-text--blue-grey-50"> pt_BR </div>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-grid">
        <div class="demo-options mdl-card  mdl-cell mdl-cell--12-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
            <div class="mdl-card__supporting-text ">
                <h3>Named Entities Recognition</h3>
                <ul>
                    <li>
                        <label for="chkbox1n" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox1n" class="mdl-checkbox__input"> <span class="mdl-checkbox__label">People</span> </label>
                    </li>
                    <li>
                        <label for="chkbox2n" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox2n" class="mdl-checkbox__input"> <span class="mdl-checkbox__label">Organization</span> </label>
                    </li>
                    <li>
                        <label for="chkbox3n" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox3n" class="mdl-checkbox__input"> <span class="mdl-checkbox__label">Places</span> </label>
                    </li>
                    <li>
                        <label for="chkbox4n" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox4n" class="mdl-checkbox__input"> <span class="mdl-checkbox__label">Time</span> </label>
                    </li>
                </ul>
            </div>
            <div class="mdl-card__actions mdl-card--border"> <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect ">Language</a>
                <div class="mdl-layout-spacer"></div>
                <div> pt_BR </div>
            </div>
        </div>
        <div class="demo-options mdl-card  mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
            <div class="mdl-card__supporting-text ">
                <h3>Persistence</h3>
                <ul>
                    <li>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1p">
                            <input type="radio" id="option-1p" class="mdl-radio__button" name="options" value="1" checked> <span class="mdl-radio__label">Solr</span> </label>
                    </li>
                    <li>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2p">
                            <input type="radio" id="option-2p" class="mdl-radio__button" name="options" value="2"> <span class="mdl-radio__label">MySQL</span> </label>
                    </li>
                </ul>
            </div>
            <div class="mdl-card__actions mdl-card--border"> <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect ">Configurar</a> </div>
        </div>
    </div>
</div>