<shio-header></shio-header>
<nav class="UnderlineNav overflow-hidden px-3 px-md-4 px-lg-5 bg-gray-light pt-3 mb-2" aria-label="Dashboard Tabs">
  <div class="UnderlineNav-body">
    <a [routerLink]="['/console/dashboard/repo']" [routerLinkActive]="['selected']"
      class="UnderlineNav-item d-flex flex-items-center">
      <span octicon="repo" size="16" class="mr-1"
        [style.color]="getRouter().url === '/console/dashboard/repo'?'':'#959da5'"></span>
      Repository <span class="Counter">2</span>
    </a>

    <a [routerLink]="['/console/nlp']" [routerLinkActive]="['selected']"
      class="UnderlineNav-item d-flex flex-items-center">
      <span octicon="comment-discussion" size="16" class="mr-1"
        [style.color]="getRouter().url === '/console/nlp'?'':'#959da5'"></span>
      NLP <span class="Counter">10</span>
    </a>
    <a [routerLink]="['/console/se']" [routerLinkActive]="['selected']"
      class="UnderlineNav-item d-flex flex-items-center">
      <span octicon="codescan" size="16" class="mr-1"
        [style.color]="getRouter().url === '/console/se'?'':'#959da5'"></span>
      Search Engine
    </a>
    <a [routerLink]="['/console/sn']" [routerLinkActive]="['selected']"
      class="UnderlineNav-item d-flex flex-items-center">
      <span octicon="search" size="16" class="mr-1" [style.color]="getRouter().url === '/console/sn'?'':'#959da5'"></span>
      Semantic Navigation
    </a>
  </div>
</nav>
<div class="clearfix container-xl p-0">
  <router-outlet>
  </router-outlet>
</div>
