/* node_modules/@primer/css */
@import "node_modules/@primer/css";
/* node_modules/@primer/octicons */
@import "node_modules/@primer/octicons";
/* node_modules/angular-notifier-updated/styles */
@import "node_modules/angular-notifier-updated/styles";
/* node_modules/ngx-smart-modal/ngx-smart-modal */
@import "node_modules/ngx-smart-modal/styles/ngx-smart-modal";

details-dialog {
  position: fixed;
  margin: 10vh auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  max-height: 80vh;
  max-width: 90vw;
  width: 448px;
  overflow: auto;
}

.dropdown-simple-item {
  padding: var(--control-small-paddingBlock, 0.25rem) var(--control-medium-paddingInline-condensed, 0.5rem) var(--control-small-paddingBlock, 0.25rem) var(--control-medium-paddingInline-spacious, 1rem);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
