<div>
    <div style="display:flex">
        <input type="text" id="name" placeholder="Entity Name" ng-model="entity.name"
            style="font-size: 24px;border: 0px none;margin-bottom: 25px;width: 100%;margin-right: 10px;font-weight: bolder;">
        <div class="pull-right">
            <button class="btn btn-viglet" ng-click="saveEntity()">Save</button>
        </div>
    </div>
    <div class="form-inline" style="width: 100%">
        <div class="form-group" ng-repeat="term in entity.terms" style="display: flex;margin-bottom: 10px;">
            <div style="visibility: hidden;width: 0px;height: 0px;">{{term.position=$index+1}}
            </div>
            <input type="text" id="paramEntity" ng-model="term.name"
                placeholder="Enter reference value"   style="border: 0px none;">
            <ui-select multiple tagging tagging-label="" ng-model="term.synonyms" theme="bootstrap"
                sortable="true" style="width: 100%;" title="Enter synonym">
                <ui-select-match placeholder="Enter synonym">{{$item}}</ui-select-match>
                <ui-select-choices repeat="synonym in term.synonyms | filter:$select.search">
                    {{synonym}}
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <button class="btn btn-link" ng-click="addRow()">+ Add a row</button>
</div>