<div>
    <div style="display:flex">
        <h1 style="width: 100%">{{intent.name}}</h1>

        <div class="pull-right">
            <button class="btn btn-viglet" ng-click="saveIntent()">Save</button>
        </div>
    </div>
    <uib-accordion>
        <div uib-accordion-group class="panel-default" is-open="status.contexts">
            <uib-accordion-heading>
                Contexts <i class="pull-right glyphicon"
                    ng-class="{'glyphicon-chevron-down': status.contexts, 'glyphicon-chevron-right': !status.contexts}"></i>
            </uib-accordion-heading>
            <div class="form-group">
                <input type="text" class="form-control" id="inputContext" placeholder="Add input context"
                    ng-model="intent.contextInputs[0].text">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="outputContext" placeholder="Add output context"
                    ng-model="intent.contextOutputs[0].text">
            </div>
        </div>


        <div uib-accordion-group class="panel-default" is-open="status.events">
            <uib-accordion-heading>
                Events <i class="pull-right glyphicon"
                    ng-class="{'glyphicon-chevron-down': status.events, 'glyphicon-chevron-right': !status.events}"></i>
            </uib-accordion-heading>
            <div>About Events</div>
        </div>
        <div uib-accordion-group class="panel-default" is-open="status.phrases">
            <uib-accordion-heading>
                Training phrases <i class="pull-right glyphicon"
                    ng-class="{'glyphicon-chevron-down': status.phrases, 'glyphicon-chevron-right': !status.phrases}"></i>
            </uib-accordion-heading>
            <div>
                <div class="form-group">
                    <input type="text" class="form-control" id="phrase" ng-model="phraseText"
                        my-enter="addPhrase(phraseText)">
                </div>
                <div style="padding: 10px">
                    <div ui-sortable ng-model="intent.phrases">
                        <div class="list-group-item" ng-repeat="phrase in intent.phrases">
                            <div style="display: inline-table">
                                <div style="min-width: 50px;">
                                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div style="display: inline-table; width: calc(100% - 120px);">
                                {{phrase.text}}
                            </div>
                            <div style="display: inline-table">
                                <button type="button" class="btn btn-link btn-xs pull-right" style="display: block;"
                                    ng-click="removePhrase($index)">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div uib-accordion-group class="panel-default" is-open="status.actions">
            <uib-accordion-heading>
                Action and parameters <i class="pull-right glyphicon"
                    ng-class="{'glyphicon-chevron-down': status.actions, 'glyphicon-chevron-right': !status.actions}"></i>
            </uib-accordion-heading>
            <div>About Action and parameters</div>
        </div>
        <div uib-accordion-group class="panel-default" is-open="status.responses">
            <uib-accordion-heading>
                Responses <i class="pull-right glyphicon"
                    ng-class="{'glyphicon-chevron-down': status.responses, 'glyphicon-chevron-right': !status.responses}"></i>
            </uib-accordion-heading>
            <div class="form-group">
                <input type="text" class="form-control" id="phrase" ng-model="responseText"
                    my-enter="addResponse(responseText)">
            </div>
            <div style="padding: 10px">
                <div ui-sortable ng-model="intent.responses">
                    <div class="list-group-item" ng-repeat="response in intent.responses">
                        <div style="display: inline-table">
                            <div style="min-width: 50px;">
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div style="display: inline-table; width: calc(100% - 120px);">
                            {{response.text}}
                        </div>
                        <div style="display: inline-table">
                            <button type="button" class="btn btn-link btn-xs pull-right" style="display: block;"
                                ng-click="removeResponse($index)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </uib-accordion>
</div>