<div>
    <div style="display:flex">
            <input type="text" id="name" placeholder="Intent Name" ng-model="intent.name"
            style="font-size: 24px;border: 0px none;margin-bottom: 25px;width: 100%;margin-right: 10px;font-weight: bolder;">
        <div class="pull-right">
            <button class="btn btn-viglet" ng-click="saveIntent()">Save</button>
        </div>
    </div>
    <div ng-if="intent.fallback" style="background-color: lightgoldenrodyellow;margin-bottom: 10px;padding: 10px;">
        Fallback intents are triggered if a user's input is not matched by any of the regular intents or if it matches
        the training phrases below.
    </div>
    <uib-accordion>
        <div uib-accordion-group class="panel-default" is-open="status.contexts">
            <uib-accordion-heading>
                Contexts <i class="pull-right glyphicon"
                    ng-class="{'glyphicon-chevron-down': status.contexts, 'glyphicon-chevron-right': !status.contexts}"></i>
            </uib-accordion-heading>
            <div class="form-group">
                <label>Input</label>
                <ui-select multiple tagging tagging-label="" ng-model="object.contextInputs" theme="bootstrap"
                    sortable="true" style="width: 100%;" title="Add input context">
                    <ui-select-match placeholder="Add input context">{{$item}}</ui-select-match>
                    <ui-select-choices repeat="context in contexts | filter:$select.search">
                        {{context}}
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <label>Output</label>
                <ui-select multiple tagging tagging-label="" ng-model="object.contextOutputs" theme="bootstrap"
                    sortable="true" style="width: 100%;" title="Add output context">
                    <ui-select-match placeholder="Add output context">{{$item}}</ui-select-match>
                    <ui-select-choices repeat="context in contexts | filter:$select.search">
                        {{context}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>


        <!--  <div uib-accordion-group class="panel-default" is-open="status.events">
            <uib-accordion-heading>
                Events <i class="pull-right glyphicon"
                    ng-class="{'glyphicon-chevron-down': status.events, 'glyphicon-chevron-right': !status.events}"></i>
            </uib-accordion-heading>
            <div>About Events</div>
        </div> -->
        <div uib-accordion-group class="panel-default" is-open="status.phrases">
            <uib-accordion-heading>
                Training phrases <i class="pull-right glyphicon"
                    ng-class="{'glyphicon-chevron-down': status.phrases, 'glyphicon-chevron-right': !status.phrases}"></i>
            </uib-accordion-heading>
            <div>
                <div ng-if="intent.fallback" style="background-color: lightgoldenrodyellow;margin-bottom: 10px;padding: 10px;">
                    Fallback Intent training phrases are negative examples the agent will not match to any other intent.
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="phrase" ng-model="form.phraseText"
                        my-enter="addPhrase(form.phraseText)">
                </div>
                <div style="padding: 10px">
                    <div ui-sortable ng-model="intent.phrases">
                        <div class="list-group-item" ng-repeat="phrase in intent.phrases">
                            <div style="display: inline-table">
                                <div style="min-width: 50px;">
                                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div style="display: inline-table; width: calc(100% - 120px);">
                                {{phrase.text}}
                            </div>
                            <div style="display: inline-table">
                                <button type="button" class="btn btn-link btn-xs pull-right" style="display: block;"
                                    ng-click="removePhrase($index)">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div uib-accordion-group class="panel-default" is-open="status.actions">
            <uib-accordion-heading>
                Action and parameters <i class="pull-right glyphicon"
                    ng-class="{'glyphicon-chevron-down': status.actions, 'glyphicon-chevron-right': !status.actions}"></i>
            </uib-accordion-heading>
            <div class="form-group">
                <input type="text" class="form-control" id="action" ng-model="intent.actionName"
                    placeholder="Action Name">
            </div>
            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Required</th>
                            <th>Parameter name</th>
                            <th>Entity</th>
                            <th>Value</th>
                            <th>Prompts</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ui-sortable ng-model="intent.parameters">
                        <tr ng-repeat="parameter in intent.parameters">
                            <td style="text-align: center;">
                                <div class="form-group"><input type="checkbox" ng-model="parameter.required"
                                        style="-ms-transform: scale(2);-moz-transform: scale(2);-webkit-transform: scale(2);-o-transform: scale(2);margin-top: 12px;">
                                </div>
                                <div style="visibility: hidden;width: 0px;height: 0px;">{{parameter.position=$index+1}}
                                </div>
                            </td>
                            <td>
                                <div class="form-group"><input type="text" class="form-control" id="paramName"
                                        ng-model="parameter.name"></div>
                            </td>
                            <td>
                                <div class="form-group"><input type="text" class="form-control" id="paramEntity"
                                        ng-model="parameter.entity"></div>
                            </td>
                            <td>
                                <div class="form-group"><input type="text" class="form-control" id="paramValue"
                                        ng-model="parameter.value"></div>
                            </td>
                            <td>
                                <button class="btn btn-viglet"
                                    ng-click="editParamPrompts(intent.actionName, parameter)">Edit</button>
                            </td>
                            <td>
                                <div style="display: inline-table">
                                    <button type="button" class="btn btn-link btn-xs pull-right" style="display: block;"
                                        ng-click="removeParameter($index)">
                                        <i class="fa fa-trash-o" aria-hidden="true" style="font-size: 30px;"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a ng-click="addParameter()" style="cursor: pointer;">+ New parameter</a>
            </div>
        </div>
        <div uib-accordion-group class="panel-default" is-open="status.responses">
            <uib-accordion-heading>
                Responses <i class="pull-right glyphicon"
                    ng-class="{'glyphicon-chevron-down': status.responses, 'glyphicon-chevron-right': !status.responses}"></i>
            </uib-accordion-heading>
            <div class="form-group">
                <input type="text" class="form-control" id="phrase" ng-model="form.responseText"
                    my-enter="addResponse(form.responseText)">
            </div>
            <div style="padding: 10px">
                <div ui-sortable ng-model="intent.responses">
                    <div class="list-group-item" ng-repeat="response in intent.responses">
                        <div style="display: inline-table">
                            <div style="min-width: 50px;">
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div style="display: inline-table; width: calc(100% - 120px);">
                            {{response.text}}
                        </div>
                        <div style="display: inline-table">
                            <button type="button" class="btn btn-link btn-xs pull-right" style="display: block;"
                                ng-click="removeResponse($index)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </uib-accordion>
</div>