<div style="display: flex;">
	<div style="width: 100%">
		<h1>{{agent.name}}</h1>
	</div>
	<div class="pull-left" style="width: 200px;text-align: right;">
		<div class="btn-group">
			<div class="btn-group">
				<a ng-href="converse#!/{{agent.id}}" target="_blank" class="btn btn-viglet">Chat Room</a>
				<button type="button" class="btn btn-viglet dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					<span class="caret"></span> <span class="sr-only">Toggle
						Dropdown</span>
				</button>
				<ul class="dropdown-menu pull-right">
					<li><a ng-click="agentRebuild()">Rebuild</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="configuration" class="row row-centered">
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-centered">
		<div class="list-group" style="margin-bottom: 10px">
			<a ng-class="{'disabled':$state.current.name.indexOf('converse.agent.detail') == 0}"
				ui-sref="converse.agent.detail" class="list-group-item ng-binding"
				style="color: rgb(51, 51, 51)">Agent<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"
					style="float: right; position: relative; color: gray"></span>
			</a>
			<a ng-class="{'disabled':$state.current.name.indexOf('converse.agent.intent') == 0}"
				ui-sref="converse.agent.intent" class="list-group-item ng-binding"
				style="color: rgb(51, 51, 51)">Intents<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"
					style="float: right; position: relative; color: gray"></span>
			</a> <a ng-class="{'disabled':$state.current.name.indexOf('converse.agent.entity') == 0}"
				ui-sref="converse.agent.entity" class="list-group-item ng-binding"
				style="color: rgb(51, 51, 51)">Entities<span class="glyphicon glyphicon-chevron-right"
					aria-hidden="true" style="float: right; position: relative; color: gray"></span>
			</a>
		</div>
		<div class="list-group" style="margin-bottom: 10px">
			<a ng-class="{'disabled':$state.current.name.indexOf('converse.agent.training') == 0}"
				ui-sref="converse.agent.training-list" class="list-group-item ng-binding"
				style="color: rgb(51, 51, 51)">Training<span class="glyphicon glyphicon-chevron-right"
					aria-hidden="true" style="float: right; position: relative; color: gray"></span>
			</a>
			<a ng-class="{'disabled':$state.current.name.indexOf('converse.agent.history') == 0}"
				ui-sref="converse.agent.history" class="list-group-item ng-binding"
				style="color: rgb(51, 51, 51)">History<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"
					style="float: right; position: relative; color: gray"></span>
			</a>
		</div>
		<div class="list-group" style="margin-bottom: 10px">
			<a ng-class="{'disabled':$state.current.name.indexOf('converse.agent.prebuilt-agent') == 0}"
				ui-sref="converse.agent.prebuilt-agent" class="list-group-item ng-binding"
				style="color: rgb(51, 51, 51)">Prebuild Agents<span class="glyphicon glyphicon-chevron-right"
					aria-hidden="true" style="float: right; position: relative; color: gray"></span>
			</a>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-centered">
		<div ui-view>
		</div>
	</div>

	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-centered">
		<div class="form-group">
			<input type="text" class="form-control" id="phrase" placeholder="Try it now" ng-model="tryText"
				my-enter="try()" x-webkit-speech>
		</div>
		<div ng-if="agentResponse.response != null" sytle="margin-bottom:15px">
			<h4 style="margin-bottom: 5px;">Default Response</h4>
			{{agentResponse.response}}
		</div>
		<div ng-if="agentResponse.intentName != null">
			<h4 style="margin-bottom: 5px;">Intent</h4>
			{{agentResponse.intentName}}
		</div>
	</div>
</div>