<div>
    <h2>Training</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Conversation</th>
                <th>Requests</th>
                <th>No Match</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="conversation in conversations">
                <td><a ui-sref="console.converse.agent.training({conversationId: conversation.id})">{{conversation.summary}}</a>
                </td>
                <td>{{conversation.requests}}</td>
                <td>{{conversation.noMatch}}</td>
                <td><span am-time-ago="conversation.date"></span></td>
                <td><i ng-if="conversation.trainingApproved" class="fa fa-check-circle-o" aria-hidden="true"
                        style="font-size: 21px;color:limegreen"></i></td>
            </tr>
        </tbody>
    </table>
</div>