<div *ngIf="(getTurSNFacetOrdering() | async) as snFacetedFields; else loading">
  <div class="Subhead">
    <div class="Subhead-heading Subhead-heading--large"><span octicon="filter" [size]="24" class="mr-1"></span> Facet Ordering
    </div>
    <div class="Subhead-description">Order the facets of the search.</div>
  </div>
  <div *ngIf="snFacetedFields.length < 1" class="blankslate">
    <span octicon="number" [size]="48" class="mb-3"></span>
    <h3 class="mb-1">You don’t seem to have any result ranking.</h3>
    <p>Create a new result ranking to define relevance rules.</p>
    <a [routerLink]="['/sn/site', getId(), 'ranking-expression', 'new']" class="btn btn-primary my-3" type="button">New
      result ranking</a>
  </div>
  <div *ngIf="snFacetedFields.length >= 1">
    <div class="Box">
      <div class="Box-header">
        <div class="d-table" style="width: 100%;">
          <div class="d-table-cell col-2">
            Position
          </div>
          <div class="d-table-cell col-10">
            Facet
          </div>
        </div>
      </div>
      <div>
        <div *ngFor="let snSiteField of snFacetedFields" data-view-component="true"
             class="Box-body">
          <div class="d-table" style="width: 100%;">
            <div class="d-table-cell col-2">
              1
            </div>
            <div class="d-table-cell col-10">
              <a [routerLink]="['/sn/site', getId(), 'field', snSiteField.id ]">
                {{ snSiteField.name }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <span>Loading</span><span class="AnimatedEllipsis"></span>
</ng-template>
