<div>
	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<div
					style="background-color: #3399ff; text-align: center; height: 200px">
					<img src="images/add.png" alt="nlp" style="padding: 15px">
					<h3
						style="color: white; position: absolute; left: 30px; top: 170px; z-index: 10">Add
						Storage</h3>
				</div>
				<div class="caption">
					<p>Create a New Storage Instance</p>
					<p>
						<a ui-sref="se.instance-new"
							class="btn btn-primary btn-lg btn-block" role="button">Create</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4" ng-repeat="se in ses">
			<div class="thumbnail">
				<div
					style="background-color: royalblue; text-align: right; height: 200px">
					<img src="images/models.png" alt="nlp" style="padding: 15px">
					<h3
						style="color: white; position: absolute; left: 30px; top: 170px; z-index: 10">{{storage.title}}</h3>
				</div>
				<div class="caption">
					<p>{{storage.description}}&nbsp;</p>
					<p>
						<a ui-sref="storage.instance-edit({storageInstanceId:storage.id})"
							class="btn btn-viglet btn-lg btn-block" role="button">Configure</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>