<div class="Subhead">
  <div class="Subhead-heading"><span octicon="comment-discussion" [size]=24 class="mr-1"></span> NLP</div>
</div>
<div id="col-left" class="float-left" style="width: 280px;padding-right: 15px;">
  <nav class="menu" aria-label="NLP settings">
    <a class="menu-item" [routerLink]="['/nlp/instance']" [routerLinkActive]="['selected']">Instances</a>
    <a class="menu-item" [routerLink]="['/nlp/entity']" [routerLinkActive]="['selected']">Entities</a>
  </nav>
</div>
<div id="col-right" class="float-right" style="width: calc(100% - 300px);">

  <router-outlet>
  </router-outlet>
</div>
